@model webMetics.Models.GrupoModel
@using webMetics.Controllers
@{
    ViewBag.Title = "Editar archivo adjunto";
}
<!DOCTYPE html>
<html>
<body>
    @if (ViewBag.Id != "" && (ViewBag.Role == 1 || ViewBag.Role == 2))
    {
        using (Html.BeginForm("EditarAdjunto", "Grupo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h1 class="mt-5">@ViewBag.Title</h1>
                <h5 class="alertaAdjunto">@Html.Raw(TempData["msg"])</h5>
                <hr />
                <div class="row" style="margin-bottom:10%">
                    <div class="col">
                        <div class="container">
                            <div>
                                <h4>Adjuntar archivo del módulo:</h4>
                                <div class="form-group">
                                    @Html.TextBoxFor(grupoModel => grupoModel.archivoAdjunto, null, new { type = "file", @class = "form-control", name = "archivoAdjunto" })
                                    @Html.ValidationMessageFor(grupoModel => grupoModel.archivoAdjunto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.HiddenFor(grupoModel => grupoModel.idGrupo)
                        </div>
                        <div class="row justify-content-center m-4">
                            <div class="col-auto">
                                @Html.ActionLink("Cancelar", "ListaGruposDisponibles", "Grupo", new { }, new { @class = "btn btn-secondary btn-block" })
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary btn-block" value="Guardar" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        await Html.RenderPartialAsync("~/Views/Usuario/IniciarSesion.cshtml");
    }
    </body>
</html>