@model webMetics.Models.GrupoModel
@using webMetics.Controllers
@{
    ViewBag.Title = "Archivo Adjunto";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}
@if (ViewBag.Id != "" && (ViewBag.Role == 1 || ViewBag.Role == 2))
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" onclick="history.go(-1); return false;" href="#">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }
        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show mb-4" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @using (Html.BeginForm("EditarAdjunto", "Grupo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="row mb-3">
                    <div class="col">
                        <div class="container">
                            <div>
                                <h4>Adjuntar archivo del módulo:</h4>
                                <div class="form-group">
                                    @Html.TextBoxFor(grupoModel => grupoModel.archivoAdjunto, null, new { type = "file", @class = "form-control", name = "archivoAdjunto" })
                                    @Html.ValidationMessageFor(grupoModel => grupoModel.archivoAdjunto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.HiddenFor(grupoModel => grupoModel.idGrupo)
                        </div>
                        <div class="row justify-content-center m-4">
                            <div class="col-auto">
                                @Html.ActionLink("Cancelar", "ListaGruposDisponibles", "Grupo", new { }, new { @class = "btn btn-secondary btn-block" })
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary btn-block" value="Guardar" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    await Html.RenderPartialAsync("~/Views/Usuario/IniciarSesion.cshtml");
}