@model bool
@{
    ViewBag.Title = "Configuración del Correo";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Id != "" && ViewBag.Role == 1)
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" onclick="history.go(-1); return false;" href="#">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }
        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show mb-4" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="mb-3 d-flex justify-content-between w-100">
            <div class="w-100">
                @using (Html.BeginForm("UpdateNotificationEmail", "EmailSettings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <form>
                        <small class="ms-1 text-secondary">Actualizar correo de notificación</small>
                        <div class="d-flex">
                            <div class="input-group">
                                @{
                                    string correoActual = ViewBag.CorreoNotificacion?.ToString(); // Using null-conditional operator
                                    correoActual = !string.IsNullOrEmpty(correoActual) ? correoActual : "ej., soporte.metics@ucr.ac.cr";

                                    <input type="text" class="form-control" name="correoLimiteHoras" id="correoLimiteHoras" placeholder="@correoActual" oninput="toggleButton()">
                                }
                            </div>
                            <input class="btn btn-outline-secondary ms-2" type="submit" value="Actualizar" id="updateButton" disabled>
                        </div>
                    </form>
                }
            </div>
        </div>

        <form asp-action="ToggleEmailSending" method="post">
            <div class="row mb-1">
                <div class="container">
                    <div class="form-group mt-1 d-flex justify-content-between w-25 p-3 bg-light rounded">
                        <label class="form-check-label" for="emailToggle">
                            Habilitar envío de correos
                        </label>
                        <div class="form-check form-switch">
                            <input type="checkbox"
                                   class="form-check-input"
                                   id="emailToggle"
                                   name="isEnabled"
                                   value="true"
                            @(Model ? "checked" : "")
                                   aria-label="Toggle email sending" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center m-4">
                <div class="col-auto">
                    <a href="#" class="btn btn-secondary btn-block" onclick="history.go(-1); return false;">Cancelar</a>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-primary btn-block" value="Guardar" />
                </div>
            </div>
        </form>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}

<script>
    function toggleButton() {
        const inputField = document.getElementById("correoLimiteHoras");
        const updateButton = document.getElementById("updateButton");

        // Disable the button if input is empty, enable it otherwise
        updateButton.disabled = inputField.value.trim() === "";
    }

    document.addEventListener("DOMContentLoaded", () => {
        toggleButton();
    });
</script>