@using webMetics.Controllers
@{
    ViewBag.Title = "Inscripciones";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Id != "" && ViewBag.Role == 1)
{
    <div class="contenedor-caja container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" href="@Url.Action("ListaGruposDisponibles", "Grupo")">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show mb-4" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="table-responsive" style="padding-bottom: 220px;">

            <div class="d-flex justify-content-between">
                <div class="mb-3" style="width: 70%;">
                    @using (Html.BeginForm("SubirArchivoExcelInscripciones", "Inscripcion", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <form>
                            <small class="ms-1 text-secondary">Subir lista de inscripciones</small>
                            <div class="mb-2 d-flex align-items-center">
                                <input type="file" class="form-control" name="file" id="file" accept=".xls,.xlsx" style="max-width: 500px;" required>
                                <input class="btn btn-secondary ms-2" type="submit" value="Subir archivo">
                            </div>
                        </form>
                    }
                    <div class="mb-4 bg-light p-3 rounded d-flex" style="max-width: 750px;">
                        <h4><i class="bi bi-exclamation-circle-fill me-2 p-2 text-secondary"></i></h4>
                        <small class="text-muted">
                            Subir un archivo en formato <strong>XLS</strong> o <strong>XLSX</strong> con al menos las siguientes columnas:
                            <br />
                            Correo Institucional, Módulo, Grupo, Horas, Estado, Horas Completadas
                            <br />
                            @Html.ActionLink("Descargar plantilla", "DescargarPlantillaSubirInscripciones", "Inscripcion", new { }, new { @class = "btn btn-small btn-outline-secondary mt-2" })
                        </small>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <div class="mx-1">
                        @Html.ActionLink("   PDF", "ExportarTodosParticipantesPDF", "Inscripcion", new { searchTerm = Context.Request.Query["searchTerm"] }, new { @class = "btn btn-outline-secondary bi bi-download" })
                    </div>
                    <div class="mx-1">
                        @Html.ActionLink("   Excel", "ExportarTodosParticipantesExcel", "Inscripcion", new { searchTerm = Context.Request.Query["searchTerm"] }, new { @class = "btn btn-outline-secondary bi bi-download" })
                    </div>
                    <div class="mx-1">
                        @Html.ActionLink("   Word", "ExportarTodosParticipantesWord", "Inscripcion", new { searchTerm = Context.Request.Query["searchTerm"] }, new { @class = "btn btn-outline-secondary bi bi-download" })
                    </div>
                </div>
            </div>


            <br />
            @if (ViewBag.ListaInscripciones == null)
            {
                <h5 class="text-center">No hay personas inscritas en módulos.</h5>

                <div class="d-flex justify-content-between align-items-center mt-2 mb-4">
                    <form id="refreshForm" method="post" action="@Url.Action("CargarParticipantesPorModulos", "Participante")" class="text-center w-100">
                        <input type="hidden" name="reload" value="true" />
                        <button type="submit" class="btn btn-secondary" id="refreshButton">
                            Recargar datos
                        </button>
                    </form>
                </div>
            }
            else
            {

                <div class="d-flex justify-content-between align-items-center mt-2 mb-4">
                    <!-- Botón de refrescar de búsqueda -->
                    <form id="refreshForm" method="post" action="@Url.Action("VerInscripciones", "Inscripcion")">
                        <input type="hidden" name="reload" value="true" />
                        <button type="submit" class="btn btn-secondary" id="refreshButton">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </form>

                    <div class="w-100 ms-3">
                        <!-- Barra de búsqueda -->
                        <form asp-action="BuscarInscripciones" asp-controller="Inscripcion" method="get" class="input-group">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Buscar inscripción" value="@Context.Request.Query["searchTerm"]" />
                            <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                </div>

                <table class="table table-striped" id="tblCustomers">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Primer<br>Apellido</th>
                            <th scope="col">Segundo<br>Apellido</th>
                            <th scope="col">Correo Institucional</th>
                            <th scope="col">Módulo</th>
                            <th scope="col">Estado</th>
                            <th class="text-center" scope="col" style="width: 10%">Horas<br>Inscritas</th>
                            <th class="text-center" scope="col" style="width: 10%">Horas<br>Aprobadas</th>
                            <th class="text-center" scope="col" style="width:3.33%;"></th>
                            <th class="text-center" scope="col" style="width:3.33%;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var inscripcion in ViewBag.ListaInscripciones)
                        {
                            <tr>
                                <td>@inscripcion.participante.nombre</td>
                                <td>@inscripcion.participante.primerApellido</td>
                                <td>@inscripcion.participante.segundoApellido</td>
                                <td>@inscripcion.participante.correo</td>
                                <td>@inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)</td>
                                <td>@inscripcion.estado</td>
                                <td class="text-center">@inscripcion.horasMatriculadas</td>
                                <td class="text-center">@inscripcion.horasAprobadas</td>
                                <td>
                                    @Html.ActionLink(" ", "VerDatosParticipante", "Participante", new { idParticipante = inscripcion.participante.idParticipante }, new { @class = "text-secondary bi bi-search" })
                                </td>
                                <td>
                                    <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar" onclick="actualizarModalEliminarInscripcion('@inscripcion.nombreGrupo', '@inscripcion.numeroGrupo', '@inscripcion.idParticipante')">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar inscripción</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea eliminar la inscripción de este participante?
                    <br />
                    @using (Html.BeginForm("EliminarInscripcion", "Inscripcion"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="modal-footer">
                            <input type="hidden" id="nombreGrupo" name="nombreGrupo">
                            <input type="hidden" id="numeroGrupo" name="numeroGrupo">
                            <input type="hidden" id="idParticipante" name="idParticipante">

                            <input type="submit" class="btn btn-danger" value="Aceptar" onclick="" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}

<script type="text/javascript">
    function actualizarModalEliminarInscripcion(nombreGrupo, numeroGrupo, idParticipante) {
        document.getElementById("nombreGrupo").value = nombreGrupo;
        document.getElementById("numeroGrupo").value = numeroGrupo;
        document.getElementById("idParticipante").value = idParticipante;
    }
</script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
    var table = new DataTable('#tblCustomers', {
        language: {
            url: '//cdn.datatables.net/plug-ins/2.1.7/i18n/es-ES.json',
        },
        "searching": false
    });
</script>

<script>
    document.getElementById('refreshButton').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('refreshForm').submit(); 
    });
</script>