@using webMetics.Controllers
@{
    ViewBag.Title = "Editar Medalla";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Id != "" && ViewBag.Role == 1)
{
    <div class="contenedor-caja container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" href="@Url.Action("ListaMedallas", "Medallas")">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show mb-4" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (ViewBag.NombreMedalla != null)
        {
            <div class="card me-2" style="height: 305px; width: 305px;">
                @{
                    string nombreMedalla = ViewBag.NombreMedalla;
                    var medalPath = Directory.EnumerateFiles("wwwroot/images/medallas", nombreMedalla).FirstOrDefault();
                }
                @if (medalPath != null)
                {
                    var normalizedMedalPath = medalPath.Replace('\\', '/');
                    var relativeMedalPath = normalizedMedalPath.Replace("wwwroot/", "/", StringComparison.OrdinalIgnoreCase);
                    <img class="card-img" src="@relativeMedalPath" style="height: 300px;" />
                }
            </div>
        }

        <br />
        <div class="mb-4 bg-light p-3 rounded w-50">
            <div class="d-flex align-text-center">
                <h6><i class="bi bi-exclamation-circle-fill me-2 text-secondary"></i></h6>
                <small class="text-muted">Subir una imagen en formato <strong>PNG</strong> o <strong>JPG</strong> menor a 5 MB.</small>
            </div>
            <div class="form-group mt-3">
                <form method="post" enctype="multipart/form-data" asp-controller="Medallas" asp-action="EditarMedalla">
                    <div class="d-flex justify-content-between">
                        <input type="text" name="nombreMedalla" value="@ViewBag.NombreMedalla" hidden/>
                        <input type="file" name="imageFile" class="form-control" />
                        <button type="submit" class="btn btn-secondary ms-2 w-25"><i class="bi bi-plus-lg me-2"></i>Subir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}