@using webMetics.Controllers
@{
    ViewBag.Title = "Lista de Medallas";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Id != "" && ViewBag.Role == 1)
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" href="@Url.Action("ListaGruposDisponibles", "Grupo")">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show mb-4" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="mb-4 bg-light p-3 rounded w-50">
            <div class="d-flex align-text-center">
                <h6><i class="bi bi-exclamation-circle-fill me-2 text-secondary"></i></h6>
                <small class="text-muted">Subir una imagen en formato <strong>PNG</strong> o <strong>JPG</strong> menor a 5 MB.</small>
            </div>
            <div class="form-group mt-3">
                <form method="post" enctype="multipart/form-data" asp-controller="Medallas" asp-action="SubirMedalla">
                    <div class="d-flex justify-content-between">
                        <input type="file" name="imageFile" class="form-control" />
                        <button type="submit" class="btn btn-secondary ms-2 w-25"><i class="bi bi-plus-lg me-2"></i>Agregar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Medallas -->
        @if (ViewBag.Medallas != null)
        {
            <div class="d-flex justify-content-start my-4">
                @foreach (string nombreMedalla in ViewBag.Medallas)
                {
                    <div class="card me-2" style="height: 420px;">
                        <div class="card-header text-muted">
                            <div style="float:right">
                                @Html.ActionLink("", "EditarMedalla", "Medallas", new { nombreMedalla = nombreMedalla }, new { @class = "text-muted bi bi-pencil-square" })
                                <i class="bi bi-trash3 text-danger" type="button" data-bs-toggle="modal" data-bs-target="#modalEliminar" onclick="actualizarModalEliminar(@nombreMedalla)"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            @{
                                var medalPath = Directory.EnumerateFiles("wwwroot/images/medallas", nombreMedalla).FirstOrDefault();
                            }
                            @if (medalPath != null)
                            {
                                var normalizedMedalPath = medalPath.Replace('\\', '/');
                                var relativeMedalPath = normalizedMedalPath.Replace("wwwroot/", "/", StringComparison.OrdinalIgnoreCase);
                                <img class="card-img" src="@relativeMedalPath" style="height: 300px;" />
                            }
                        </div>
                        <div class="card-footer">
                            <span>@nombreMedalla</span>
                        </div>
                    </div>
                }
            </div>
        }

        <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar medalla</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro de que desea eliminar esta medalla?
                        <br />
                        @using (Html.BeginForm("EliminarMedalla", "Medallas"))
                        {
                            <div class="modal-footer">
                                <input type="hidden" id="nombreMedalla" name="nombreMedalla">
                                <input type="submit" class="btn btn-danger" value="Aceptar" />
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}

<script type="text/javascript">
    function actualizarModalEliminar(nombreMedalla) {
        document.getElementById("nombreMedalla").value = nombreMedalla;
    }
</script>