<!DOCTYPE html>
<!--
    Aqui se encuentra el Header y Footer del sitio web que se comparte para cada vista del sitio
//-->
@using webMetics.Controllers

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <div style="background-color: #65bcdc; height: 95px;">
        <div class="logo-container">
            <div class="d-inline-flex justify-content-start align-items-center" style="position: absolute; z-index: 0;">
                <div class="logo-link mx-3 py-2">
                    <a href="https://www.ucr.ac.cr/">
                        <img src="@Url.Content("~/images/UCR_logo.png")" style="width: auto; height: 80px;" alt="Logo Universidad de Costa Rica" />
                    </a>
                </div>

                <div class="logo-link me-3 py-2">
                    <a href="https://metics.ucr.ac.cr/es/">
                        <img src="@Url.Content("~/images/METICS_logo.png")" style="width: auto; height: 80px;" alt="Logo METICS" />
                    </a>
                </div>

                <div class="logo-link py-2">
                    <a href="https://vd.ucr.ac.cr/" style="display: block;">
                        <img src="@Url.Content("~/images/VD_logo.png")" style="width: auto; height: 60px;" alt="Logo Vicerrectoria de Docencia" />
                    </a>
                </div>
            </div>
        </div>
    </div>



    @if (ViewBag.Id != "" && ViewBag.Title != "Formulario de Registro" && ViewBag.Title != "Iniciar sesión")
    {
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarColor01">
                    <div>
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-person-circle"></i>
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        @Html.ActionLink("Información personal", "InformacionPersonal", "Usuario", new { }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Cambiar contraseña", "CambiarContrasena", "Usuario", null, new { @class = "dropdown-item" })
                                    </li>
                                    @if (ViewBag.Role == 1)
                                    {
                                        
                                    }
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        @Html.ActionLink("Cerrar sesión", "CerrarSesion", "Usuario", new { }, new { @class = "dropdown-item" })
                                    </li>
                                </ul>
                            </li>
                            @if (ViewBag.Role == 1)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrador</a>
                                    <div class="dropdown-menu">
                                        @Html.ActionLink("Niveles", "ListaCategorias", "Categoria", new { }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Áreas de competencia", "ListaTemas", "Tema", new { }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Lista de facilitadores(as)", "ListaAsesores", "Asesor", new { }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Lista de participantes", "VerParticipantes", "Participante", new { }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Lista de inscripciones", "VerParticipantesPorModulos", "Participante", new { }, new { @class = "dropdown-item" })
                                        <hr class="dropdown-divider">
                                        @Html.ActionLink("Crear un área de competencia", "CrearTema", "Tema", new { }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Crear un módulo", "CrearGrupo", "Grupo", new { }, new { @class = "dropdown-item" })
                                        <hr class="dropdown-divider">
                                        @Html.ActionLink("Configuración del correo", "Index", "EmailSettings", new { }, new { @class = "dropdown-item" })
                                    </div>
                                </li>
                            }
                            @if (ViewBag.Role == 2)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Asesor</a>
                                    <div class="dropdown-menu">
                                        @Html.ActionLink("Mis módulos", "ListaGruposDisponibles", "Grupo", new { }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Crear un módulo", "CrearGrupo", "Grupo", new { }, new { @class = "dropdown-item" })
                                    </div>
                                </li>
                            }
                            <li class="nav-item">
                                @Html.ActionLink(" ", "ListaGruposDisponibles", "Grupo", new { }, new { @class = "nav-link active bi bi-house-door-fill" })
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="navbar-nav me-auto">
                        @if (ViewBag.Role == 1 || ViewBag.Role == 2)
                        {
                            <li class="nav-item">
                                    @Html.ActionLink("      Crear módulo", "CrearGrupo", "Grupo", new { }, new { @class = "bi bi-plus-lg btn btn-secondary" })
                            </li>
                        }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    }
    <div class="container body-content" style="min-height: 80vh">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" id="footer" style="background-color: #3e4551; bottom: 0px; width: 100%; height: 100%;">
        <div class="container p-4 pb-5">
            <section class="">
                <div class="row h-100">
                    <div class="col-md-4">
                        <!-- Información de los contactos  -->
                        @{await Html.RenderPartialAsync("~/Views/Shared/Info.cshtml"); }
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-uppercase" style="color: #CED4DA">Ubicación</h5>

                        <p>
                            De la Rotonda de la Hispanidad 100 metros al Este, 100 metros al Norte y 100 metros al Este. Antiguos apartamentos Pachecho Dominguez, San Pedro de Montes de Oca.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-uppercase" style="color: #CED4DA">Enlaces de interés</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="https://metics.ucr.ac.cr/es/mediacion-virtual" class="text-white">Mediación Virtual</a>
                            </li>
                            <li>
                                <a href="https://sibdi.ucr.ac.cr" class="text-white">SIBDI</a>
                            </li>
                            <li>
                                <a href="https://ematricula.ucr.ac.cr/ematricula/" class="text-white">eMatricula</a>
                            </li>
                            <li>
                                <a href="https://ori.ucr.ac.cr" class="text-white">Oficina de Registro</a>
                            </li>
                            <li>
                                <a href="https://ci.ucr.ac.cr" class="text-white">Centro de Informática</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center p-1">
            <p>&copy; @DateTime.Now.Year METICS</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>
