@using webMetics.Controllers
@{
    ViewBag.Title = "Actividades";
}

<!DOCTYPE html>
<html>
<body>
    @if (ViewBag.Id != "" && ViewBag.Role == 1)
    {
        if (ViewBag.Message != null)
        {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
        }
        <div class="contenedor-tipos-actividades container-fluid">
            @if (/*Request.UrlReferrer != null*/true)
            {
                <a class="bottomNav bi bi-arrow-left" style="color: #5a5a5a; text-decoration: none; " onclick="history.go(-1); return false;" href="#"></a><br />
            }
            @if (ViewBag.TiposActividad != null)
            {
                <a href="/TipoActividad/CrearTipoActividad" class="btn btn-primary" style="float: right;">Crear nueva actividad</a>
            }
            <h1>Actividades</h1>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong> @TempData["Message"] </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <hr />
            <div class="table-responsive">
                @if (ViewBag.TiposActividad == null)
                {
                    <h5 class="text-center"> No hay actividad disponibles</h5>
                    <div class="d-flex justify-content-center">
                        <a href="/TipoActividad/CrearTipoActividad" class="btn btn-primary" role="button" style="width:25%;height:105%">Crear nueva actividad</a>
                    </div>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var tipoActividad in ViewBag.TiposActividad)
                            {
                                <tr>
                                    <td class="titulo-listas">@tipoActividad.nombre</td>
                                    <td class="titulo-listas">@tipoActividad.descripcion</td>
                                    <td class="titulo-listas">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditar" onclick="actualizarModal('@tipoActividad.nombre')">
                                            Editar
                                        </button>
                                    </td>
                                    <td class="titulo-listas">
                                    <td class="titulo-listas">
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalEliminar" onclick="actualizarModal('@tipoActividad.nombre')">
                                            Eliminar
                                        </button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>


        <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar tipo de actividad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro que deseas eliminar este tipo de actividad?

                        @using (Html.BeginForm("EliminarTipoActividad", "TipoActividad"))
                        {
                            @Html.AntiForgeryToken()

                            <div class="modal-footer">
                                <input type="hidden" id="nombreTipoactividad" name="nombre">
                                <input type="submit" class="btn btn-primary" value="Aceptar" onclick="" />
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarModalLabel">Editar tipo de actividad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h8 style="padding-bottom:5px">
                            ¿Estás seguro que deseas editar este tipo de actividad?
                        </h8>
                        <br />
                        @using (Html.BeginForm("EditarTipoActividad", "TipoActividad", FormMethod.Get, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="modal-footer">
                                <input type="hidden" id="nombreTipoActividadEditar" name="nombre">
                                <input type="submit" class="btn btn-primary" value="Aceptar" />
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    }
    else
    {
        await Html.RenderPartialAsync("~/Views/Login/Login.cshtml");
    }
    </body>
</html>

<script type="text/javascript">
    function actualizarModal(tipoActividad) {
        document.getElementById("nombreTipoactividad").value = tipoActividad;
        document.getElementById("nombreTipoActividadEditar").value = tipoActividad;
    }
</script>