@model webMetics.Models.NewLoginModel
@using webMetics.Controllers
@{
    ViewBag.Title = "Contraseña";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        .input-wrapper {
            position: relative;
            display: inline-block;
        }

        .input-wrapper input {
            padding-right: 50px;
        }

        .toggle-password {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(10%);
            border: none;
            background: none;
            cursor: pointer;
        }

        input::-ms-reveal,
        input::-ms-clear {
            display: none !important;
        }
    </style>
</head>
<body>
    @if (ViewBag.Id != "")
    {
        <div class="contenedor-caja container-fluid">
            @if (urlReferrer != null)
            {
                <div class="d-flex justify-content-start mb-3">
                    <a class="text-dark fs-4" href="@Url.Action("ListaGruposDisponibles", "Grupo")">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                </div>
            }

            @using (Html.BeginForm("CambiarContrasena", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <h1>@ViewBag.Title</h1>
                <hr />

                if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-dark alert-dismissible fade show mx-2" role="alert">
                        <span>@ViewBag.ErrorMessage</span>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success alert-dismissible fade show mx-2" role="alert">
                        <span>@ViewBag.SuccessMessage</span>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="row mb-1">
                    <div class="col">
                        <div class="container">
                            <div class="row mt-1">
                                <div class="col input-wrapper">
                                    @Html.HiddenFor(model => model.id, new { })
                                    <label style="font-size: 22px">Contraseña actual</label> <a style="color:red;font-size:22px">*</a>
                                    @Html.PasswordFor(model => model.contrasena, new { @id = "passwordOld", @class = "form-control" })
                                    <button type="button" class="toggle-password" onclick="togglePasswordVisibility3()">
                                        <i id="toggleIcon3" class="fas fa-eye"></i>
                                    </button>
                                    @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                                </div>
                                <div class="col input-wrapper">
                                    <label style="font-size: 22px">Nueva contraseña</label> <a style="color:red;font-size:22px">*</a>
                                    @Html.PasswordFor(model => model.nuevaContrasena, new { id="password", @class = "form-control" })
                                    <button type="button" class="toggle-password" onclick="togglePasswordVisibility()">
                                        <i id="toggleIcon" class="fas fa-eye"></i>
                                    </button>
                                    @Html.ValidationMessageFor(model => model.nuevaContrasena, "", new { @class = "text-danger" })
                                </div>
                                <div class="col input-wrapper">
                                    <label style="font-size: 22px">Confirmar nueva contraseña</label> <a style="color:red;font-size:22px">*</a>
                                    @Html.PasswordFor(model => model.confirmarContrasena, new { @id = "passwordCheck", @class = "form-control" })
                                    <button type="button" class="toggle-password" onclick="togglePasswordVisibility2()">
                                        <i id="toggleIcon2" class="fas fa-eye"></i>
                                    </button>
                                    @Html.ValidationMessageFor(model => model.confirmarContrasena, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center m-4">
                            <div class="col-auto">
                                <a href="@Url.Action("ListaGruposDisponibles", "Grupo")" class="btn btn-secondary btn-block">
                                    Cancelar
                                </a>
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary btn-block" value="Guardar" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <script>
            window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
        </script>
    }
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            var toggleIcon = document.getElementById('toggleIcon');
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        }
    </script>
    <script>
        function togglePasswordVisibility2() {
            var passwordInput = document.getElementById('passwordCheck');
            var toggleIcon = document.getElementById('toggleIcon2');
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        }
    </script>
    <script>
        function togglePasswordVisibility3() {
            var passwordInput = document.getElementById('passwordOld');
            var toggleIcon = document.getElementById('toggleIcon3');
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        }
    </script>
</body>
</html>