@using webMetics.Controllers
@{
    ViewBag.Title = "Información Personal";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Title == "Información Personal")
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" href="@Url.Action("ListaGruposDisponibles", "Grupo")">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="table-responsive">

            @if (ViewBag.Usuario == null)
            {
                <h5 class="text-center">Sus datos no están disponibles.</h5>
            }
            else
            {
                var nombreCompleto = ViewBag.Usuario.nombre;
                nombreCompleto += " " + ViewBag.Usuario.primerApellido;

                <div>
                    <table class="table table-striped" id="tblCustomers">
                        <thead>
                            <tr>
                                <th scope="col">Nombre Completo</th>
                                <th scope="col">Identificación</th>
                                <th scope="col">Unidad Académica</th>
                                <th scope="col">Correo Institucional</th>
                                <th scope="col">Condición</th>
                                <th scope="col" style="width:10%">Teléfono</th>

                                <th class="text-center" scope="col" style="width: 7.5%">Total Horas<br>Inscritas</th>
                                <th class="text-center" scope="col" style="width: 7.5%">Total Horas<br>Aprobadas</th>

                                @if (ViewBag.Participante != null)
                                {
                                    <td scope="col" style="width: 3.33%;"></td>
                                }

                                @if (ViewBag.Asesor != null)
                                {
                                    <td scope="col" style="width: 3.33%;"></td>
                                }

                                
                            </tr>
                        </thead>

                        <tbody>
                            @if (ViewBag.Usuario.segundoApellido != "-")
                            {
                                nombreCompleto += " " + ViewBag.Usuario.segundoApellido;
                            }
                            <tr>
                                <td class="">@nombreCompleto</td>
                                <td class="">@ViewBag.Usuario.numeroIdentificacion</td>

                                @if (ViewBag.Usuario.unidadAcademica != null)
                                {
                                    <td class="">@ViewBag.Usuario.unidadAcademica</td>
                                }
                                
                                <td class="">@ViewBag.Usuario.correo</td>

                                @if (ViewBag.Usuario.condicion != null)
                                {
                                    <td class="">@ViewBag.Usuario.condicion</td>
                                }

                                <td class="">@ViewBag.Usuario.telefono</td>

                                <td class="my-3 text-center" style="width: 7.5%">
                                    <span>@ViewBag.Participante.horasMatriculadas</span>
                                </td>

                                <td class="my-3 text-center" scope="col" style="width: 7.5%">
                                    <span>@ViewBag.Participante.horasAprobadas</span>
                                </td>

                                @if (ViewBag.Participante != null)
                                {
                                    <td class="">
                                        @Html.ActionLink(" ", "EditarParticipante", "Participante", new { idParticipante = ViewBag.Participante.idParticipante }, new { @class = "text-secondary bi bi-pencil-square" })
                                    </td>
                                }

                                @if (ViewBag.Asesor != null)
                                {
                                    <td class="">
                                        @Html.ActionLink(" ", "EditarAsesor", "Asesor", new { idAsesor = ViewBag.Id }, new { @class = "text-secondary bi bi-pencil-square" })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>

                @if (ViewBag.Inscripciones == null)
                {
                    @if (ViewBag.ListaGrupos == null)
                    {
                        <br />
                        <h5 class="text-center">No tiene grupos creados.</h5>
                    }
                    else
                    {
                        <br />
                        <div class="mt-4">
                            <h3 class="">Módulos creados</h3>
                            <table class="table table-striped" id="tblCustomers">
                                <thead>
                                    <tr>
                                        <th scope="col">Módulos</th>
                                        <th class="text-center" scope="col" style="width: 15%">Horas del<br>Módulo</th>
                                        <th class="text-center" scope="col" style="width: 15%">Cupo</th>
                                        <th class="text-center" scope="col" style="width: 15%">Cupo Actual</th>
                                    </tr>
                                </thead>

                                <tbody class="align-middle">
                                    <tr>
                                        <td>
                                            @foreach (var grupo in ViewBag.ListaGrupos)
                                            {
                                                <span>@grupo.nombre (Grupo @grupo.idGrupo)</span>
                                                <br />
                                            }
                                        </td>
                                        <td class="text-center">
                                            @foreach (var grupo in ViewBag.ListaGrupos)
                                            {
                                                @grupo.cantidadHoras
                                                <br />
                                            }
                                        </td>
                                        <td class="text-center">
                                            @foreach (var grupo in ViewBag.ListaGrupos)
                                            {
                                                @grupo.cupo
                                                <br />
                                            }
                                        </td>
                                        <td class="text-center">
                                            @foreach (var grupo in ViewBag.ListaGrupos)
                                            {
                                                @grupo.cupoActual
                                                <br />
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                }
                else
                {
                    @if (ViewBag.Role == 0)
                    {
                        <br />
                        <hr />
                        <div class="mt-4">
                            <h3 class="">Módulos Inscritos</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 25%">Módulos Inscritos</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Inscritas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Aprobadas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Calificación</th>
                                        
                                    </tr>
                                </thead>

                                <tbody class="align-middle">
                                    <tr>
                                        <td class="my-3" colspan="4">
                                            @foreach (var inscripcion in ViewBag.Inscripciones)
                                            {
                                                if (inscripcion.estado == "Inscrito")
                                                {
                                                    <table class="w-100">
                                                        <tr>
                                                            <td class="my-2" style="width: 25%">
                                                                <i class="bi bi-check"></i> @inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasMatriculadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasAprobadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.calificacion ?? 0))
                                                            </td>
                                                        </tr>
                                                    </table>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <br />
                        <hr />
                        <div class="mt-4">
                            <h3 class="">Módulos Incompletos</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 25%">Módulos Incompletos</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Inscritas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Aprobadas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Calificación</th>
                                    </tr>
                                </thead>

                                <tbody class="align-middle">
                                    <tr>
                                        <td class="my-3" colspan="4">
                                            @foreach (var inscripcion in ViewBag.Inscripciones)
                                            {
                                                if (inscripcion.estado == "Incompleto")
                                                {
                                                    <table class="w-100">
                                                        <tr>
                                                            <td class="my-2" style="width: 25%">
                                                                <i class="bi bi-check"></i> @inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasMatriculadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasAprobadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.calificacion ?? 0))
                                                            </td>
                                                        </tr>
                                                    </table>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <br />
                        <hr />
                        <div class="mt-4">
                            <h3 class="">Módulos Aprobados</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 25%">Módulos Aprobados</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Inscritas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Aprobadas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Calificación</th>
                                    </tr>
                                </thead>

                                <tbody class="align-middle">
                                    <tr>
                                        <td class="my-3" colspan="4">
                                            @foreach (var inscripcion in ViewBag.Inscripciones)
                                            {
                                                if (inscripcion.estado == "Aprobado")
                                                {
                                                    <table class="w-100">
                                                        <tr>
                                                            <td class="my-2" style="width: 25%">
                                                                <i class="bi bi-check"></i> @inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)
                                                            </td>

                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasMatriculadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasAprobadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.calificacion ?? 0))
                                                            </td>
                                                        </tr>
                                                    </table>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                }
            }
            <div class="d-flex justify-content-center my-4">
                <a asp-action="ListaGruposDisponibles" asp-controller="Grupo" class="btn btn-primary">Regresar</a>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}