@using webMetics.Controllers
@{
    ViewBag.Title = "Información Personal";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (!string.IsNullOrEmpty(ViewBag.Id))
{
    <div class="contenedor-caja container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" href="@Url.Action("ListaGruposDisponibles", "Grupo")">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="table-responsive">

            @if (ViewBag.Usuario == null)
            {
                <h5 class="text-center">Sus datos no están disponibles.</h5>
            }
            else
            {
                var nombreCompleto = ViewBag.Usuario.nombre;
                nombreCompleto += " " + ViewBag.Usuario.primerApellido;
                nombreCompleto += " " + ViewBag.Usuario.segundoApellido;

                <div>
                    <table class="table table-striped" id="tblCustomers">
                        <thead>
                            <tr>
                                <th scope="col">Nombre Completo</th>
                                <th scope="col">Identificación</th>

                                @if (ViewBag.Participante != null)
                                {
                                    <th scope="col">Unidad Académica</th>
                                }
                                
                                <th scope="col">Correo Institucional</th>
                                
                                @if (ViewBag.Participante != null)
                                {
                                    <th scope="col">Condición</th>
                                }
                                
                                <th scope="col" style="width:10%">Teléfono</th>

                                @if (ViewBag.Participante != null)
                                {
                                    <th class="text-center" scope="col" style="width: 7.5%">Total Horas<br>Inscritas</th>
                                    <th class="text-center" scope="col" style="width: 7.5%">Total Horas<br>Aprobadas</th>
                                    <td scope="col" style="width: 3.33%;"></td>
                                }
                                else
                                {
                                    <td scope="col" style="width: 3.33%;"></td>
                                }

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="">@nombreCompleto</td>
                                <td class="">@ViewBag.Usuario.numeroIdentificacion</td>

                                @if (ViewBag.Participante != null)
                                {
                                    <td class="">@ViewBag.Participante.unidadAcademica</td>
                                }

                                @if (ViewBag.Usuario.correo != null)
                                {
                                    <td class="">@ViewBag.Usuario.correo</td>
                                }

                                @if (ViewBag.Participante != null && ViewBag.Participante.condicion != null)
                                {
                                    <td class="">@ViewBag.Participante.condicion</td>
                                }

                                @if (ViewBag.Usuario.telefono != null)
                                {
                                    <td class="">@ViewBag.Usuario.telefono</td>
                                }

                                @if (ViewBag.Participante != null)
                                {
                                    <td class="my-3 text-center" style="width: 7.5%">
                                        <span>@(ViewBag.Participante.horasMatriculadas ?? 0)</span>
                                    </td>

                                    <td class="my-3 text-center" scope="col" style="width: 7.5%">
                                        <span>@(ViewBag.Participante.horasAprobadas ?? 0)</span>
                                    </td>

                                    <td class="">
                                        @Html.ActionLink(" ", "EditarParticipante", "Participante", new { idParticipante = ViewBag.Participante.idParticipante }, new { @class = "text-secondary bi bi-pencil-square" })
                                    </td>
                                }
                                else
                                {
                                    <td class="">
                                        @Html.ActionLink(" ", "EditarAsesor", "Asesor", new { idAsesor = ViewBag.Id }, new { @class = "text-secondary bi bi-pencil-square" })
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                

                @if (ViewBag.Inscripciones == null)
                {
                    <br />
                    <h5 class="text-center">No tiene módulos inscritos.</h5>

                    @if (ViewBag.Role == 2)
                    {
                        @if (ViewBag.ListaGruposAsesor == null)
                        {
                            <br />
                            <hr />
                            <br />
                            <h5 class="text-center">No tiene módulos creados.</h5>
                        }
                        else
                        {
                            <!-- Módulos asesor -->
                            <br />
                            <div class="mt-4">
                                <h3 class="">Módulos creados</h3>
                                <table class="table table-striped" id="tblCustomers">
                                    <thead>
                                        <tr>
                                            <th scope="col">Módulos</th>
                                            <th class="text-center" scope="col" style="width: 15%">Horas del<br>Módulo</th>
                                            <th class="text-center" scope="col" style="width: 15%">Cupo</th>
                                            <th class="text-center" scope="col" style="width: 15%">Cupo Actual</th>
                                        </tr>
                                    </thead>

                                    <tbody class="align-middle">
                                        <tr>
                                            <td>
                                                @foreach (var grupo in ViewBag.ListaGruposAsesor)
                                                {
                                                    <span>@grupo.nombre (Grupo @grupo.idGrupo)</span>
                                                    <br />
                                                }
                                            </td>
                                            <td class="text-center">
                                                @foreach (var grupo in ViewBag.ListaGruposAsesor)
                                                {
                                                    @grupo.cantidadHoras
                                                    <br />
                                                }
                                            </td>
                                            <td class="text-center">
                                                @foreach (var grupo in ViewBag.ListaGruposAsesor)
                                                {
                                                    @grupo.cupo
                                                    <br />
                                                }
                                            </td>
                                            <td class="text-center">
                                                @foreach (var grupo in ViewBag.ListaGruposAsesor)
                                                {
                                                    @grupo.cupoActual
                                                    <br />
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                }
                else
                {
                    @if (ViewBag.Participante != null)
                    {
                        <!-- Medallas -->
                        @if (ViewBag.Medallas != null)
                        {
                            <br />
                            <h3 class="">Medallas</h3>
                            <div class="d-flex justify-content-start mt-4">
                                @foreach (string nombreMedalla in ViewBag.Medallas)
                                {
                                    <div class="card me-2" style="height: 305px;">
                                        @{
                                            var medalPath = Directory.EnumerateFiles("wwwroot/images/medallas", nombreMedalla).FirstOrDefault();
                                        }
                                        @if (medalPath != null)
                                        {
                                            var normalizedMedalPath = medalPath.Replace('\\', '/');
                                            var relativeMedalPath = normalizedMedalPath.Replace("wwwroot/", "/", StringComparison.OrdinalIgnoreCase);
                                            <img class="card-img" src="@relativeMedalPath" style="height: 300px;" />
                                        }
                                    </div>
                                }
                            </div>
                        }

                        <!-- Módulos Participante -->
                        <br />
                        <div class="mt-4">
                            <h3 class="">Módulos Aprobados</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 25%">Módulos Aprobados</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Inscritas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Aprobadas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Calificación</th>
                                    </tr>
                                </thead>

                                <tbody class="align-middle">
                                    <tr>
                                        <td class="my-3" colspan="4">
                                            @foreach (var inscripcion in ViewBag.Inscripciones)
                                            {
                                                if (inscripcion.estado == "Aprobado")
                                                {
                                                    <table class="w-100">
                                                        <tr>
                                                            <td class="my-2" style="width: 25%">
                                                                <i class="bi bi-check"></i> @inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)
                                                            </td>

                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasMatriculadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasAprobadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.calificacion ?? 0))
                                                            </td>
                                                        </tr>
                                                    </table>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <br />
                        <hr />
                        <div class="mt-4">
                            <h3 class="">Módulos Inscritos</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 25%">Módulos Inscritos</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Inscritas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Aprobadas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Calificación</th>
                                        
                                    </tr>
                                </thead>

                                <tbody class="align-middle">
                                    <tr>
                                        <td class="my-3" colspan="4">
                                            @foreach (var inscripcion in ViewBag.Inscripciones)
                                            {
                                                if (inscripcion.estado == "Inscrito")
                                                {
                                                    <table class="w-100">
                                                        <tr>
                                                            <td class="my-2" style="width: 25%">
                                                                <i class="bi bi-check"></i> @inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasMatriculadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasAprobadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.calificacion ?? 0))
                                                            </td>
                                                        </tr>
                                                    </table>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <br />
                        <hr />
                        <div class="mt-4">
                            <h3 class="">Módulos Incompletos</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 25%">Módulos Incompletos</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Inscritas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Horas<br>Aprobadas</th>
                                        <th class="text-center" scope="col" style="width: 7.5%">Calificación</th>
                                    </tr>
                                </thead>

                                <tbody class="align-middle">
                                    <tr>
                                        <td class="my-3" colspan="4">
                                            @foreach (var inscripcion in ViewBag.Inscripciones)
                                            {
                                                if (inscripcion.estado == "Incompleto")
                                                {
                                                    <table class="w-100">
                                                        <tr>
                                                            <td class="my-2" style="width: 25%">
                                                                <i class="bi bi-check"></i> @inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasMatriculadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.horasAprobadas ?? 0))
                                                            </td>
                                                            <td class="my-2 text-center" style="width: 7.5%">
                                                                @((inscripcion.calificacion ?? 0))
                                                            </td>
                                                        </tr>
                                                    </table>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        @if (ViewBag.Role == 2)
                        {
                            @if (ViewBag.ListaGruposAsesor == null)
                            {
                                <br />
                                <hr />
                                <br />
                                <h5 class="text-center">No tiene módulos creados.</h5>
                            }
                            else
                            {
                                <!-- Módulos asesor -->
                                <br />
                                <div class="mt-4">
                                    <h3 class="">Módulos creados</h3>
                                    <table class="table table-striped" id="tblCustomers">
                                        <thead>
                                            <tr>
                                                <th scope="col">Módulos</th>
                                                <th class="text-center" scope="col" style="width: 15%">Horas del<br>Módulo</th>
                                                <th class="text-center" scope="col" style="width: 15%">Cupo</th>
                                                <th class="text-center" scope="col" style="width: 15%">Cupo Actual</th>
                                            </tr>
                                        </thead>

                                        <tbody class="align-middle">
                                            <tr>
                                                <td>
                                                    @foreach (var grupo in ViewBag.ListaGruposAsesor)
                                                    {
                                                        <span>@grupo.nombre (Grupo @grupo.idGrupo)</span>
                                                        <br />
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @foreach (var grupo in ViewBag.ListaGruposAsesor)
                                                    {
                                                        @grupo.cantidadHoras
                                                        <br />
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @foreach (var grupo in ViewBag.ListaGruposAsesor)
                                                    {
                                                        @grupo.cupo
                                                        <br />
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @foreach (var grupo in ViewBag.ListaGruposAsesor)
                                                    {
                                                        @grupo.cupoActual
                                                        <br />
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    }
                }
            }
            <div class="d-flex justify-content-center my-4">
                <a asp-action="ListaGruposDisponibles" asp-controller="Grupo" class="btn btn-primary">Regresar</a>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}