@model webMetics.Models.LoginModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        .input-wrapper {
            position: relative;
        }

        .toggle-password {
            position: absolute;
            top: 45%;
            right: 10px;
            transform: translateY(10%);
            border: none;
            background: none;
            cursor: pointer;
        }

        input::-ms-reveal,
        input::-ms-clear {
            display: none !important;
        }
    </style>
</head>

<body style="background-image: url('/images/fondo_login.svg')">
    <div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="card shadow" style="width: 450px;">
                <div class="card-header text-center pt-4 pb-3">
                    <h2>@ViewBag.Title</h2>
                </div>
                <div class="card-body p-4">
                    @using (Html.BeginForm("IniciarSesion", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="text-center mb-1">
                            @Html.LabelFor(loginModel => loginModel.id, new { @class = "text-center" })
                            @Html.TextBoxFor(loginModel => loginModel.id, new { @class = "form-control", @autocomplete = "on" })
                            @Html.ValidationMessageFor(loginModel => loginModel.id, "", new { @class = "text-danger" })
                        </div>
                        <div class="text-center mb-2 input-wrapper">
                            @Html.LabelFor(loginModel => loginModel.contrasena, new { @class = "text-center" })
                            @Html.PasswordFor(loginModel => loginModel.contrasena, new { @id ="password", @class = "form-control" })
                            <button type="button" class="toggle-password" onclick="togglePasswordVisibility()">
                                <i id="toggleIcon" class="fas fa-eye"></i>
                            </button>
                            @Html.ValidationMessageFor(loginModel => loginModel.contrasena, "", new { @class = "text-danger" })
                        </div>
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="text-danger text-center">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        else
                        {
                            @if (ViewBag.SuccessMessage != null)
                            {
                                <div class="text-success text-center">
                                    @ViewBag.SuccessMessage
                                </div>
                            }
                        }
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary btn-block">Acceder</button>
                        </div>
                    }
                </div>
                <div class="card-footer text-center pt-2 pb-3">
                    <small>
                        ¿No tiene un usuario?
                        @Html.ActionLink("Registrarse", "FormularioRegistro", "Usuario", new { }, new { @class = "link-info" })
                    </small>
                </div>
            </div>
        </div>
    </div>

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            var toggleIcon = document.getElementById('toggleIcon');
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        }
    </script>

</body>
</html>