@model webMetics.Models.LoginModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<body style="background-image: url('/images/fondo_login.svg')">
    <div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="card shadow" style="width: 450px;">
                <div class="card-header text-center pt-4 pb-3">
                    <h2>@ViewBag.Title</h2>
                </div>
                <div class="card-body p-4">
                    @using (Html.BeginForm("IniciarSesion", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="text-center mb-1">
                            @Html.LabelFor(loginModel => loginModel.id, new { @class = "text-center" })
                            @Html.TextBoxFor(loginModel => loginModel.id, new { @class = "form-control", @autocomplete = "on" })
                            @Html.ValidationMessageFor(loginModel => loginModel.id, "", new { @class = "text-danger" })
                        </div>
                        <div class="text-center mb-1">
                            @Html.LabelFor(loginModel => loginModel.contrasena, new { @class = "text-center" })
                            @Html.PasswordFor(loginModel => loginModel.contrasena, new { @class = "form-control" })
                            @Html.ValidationMessageFor(loginModel => loginModel.contrasena, "", new { @class = "text-danger" })
                        </div>
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="text-danger text-center">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        else
                        {
                            @if (ViewBag.SuccessMessage != null)
                            {
                                <div class="text-success text-center">
                                    @ViewBag.SuccessMessage
                                </div>
                            }
                        }
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary btn-block">Acceder</button>
                        </div>
                    }
                </div>
                <div class="card-footer text-center pt-2 pb-3">
                    <small>
                        ¿No tiene un usuario?
                        @Html.ActionLink("Registrarse", "FormularioRegistro", "Usuario", new { }, new { @class = "link-info" })
                    </small>
                </div>
            </div>
        </div>
    </div>
</body>