@model webMetics.Models.LoginModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        .input-wrapper {
            position: relative;
        }

        .toggle-password {
            position: absolute;
            top: 45%;
            right: 10px;
            transform: translateY(10%);
            border: none;
            background: none;
            cursor: pointer;
        }

        .card {
            border: none !important;
            box-shadow: none !important;
        }

        .card-footer {
            border-top: none !important;
            border-radius: 0 !important;
        }

        input::-ms-reveal,
        input::-ms-clear {
            display: none !important;
        }
    </style>
</head>

<body style="background-image: url('/images/fondo_login.svg')">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="container d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
            <div class="card shadow" style="width: 450px;">
                <div class="card-header text-center pt-4 pb-3">
                    <h3 class="text-center text-secondary"><strong>Sistema de Inscripciones</strong><br />METICS</h3>
                </div>
                <div class="card-body p-4">
                    <h4 class="text-center">Iniciar sesión</h4>
                    <div class="mt-4">
                        @using (Html.BeginForm("IniciarSesion", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="text-center mb-1">
                                @Html.LabelFor(loginModel => loginModel.id, new { @class = "text-center" })

                                <div class="input-group">
                                    @Html.TextBoxFor(loginModel => loginModel.id, new { @class = "form-control", @autocomplete = "on" })
                                    <span class="input-group-text text-secondary"><b>@@ucr.ac.cr</b></span>
                                </div>

                                @Html.ValidationMessageFor(loginModel => loginModel.id, "", new { @class = "text-danger" })
                            </div>
                            <div class="text-center mb-2 input-wrapper">
                                @Html.LabelFor(loginModel => loginModel.contrasena, new { @class = "text-center" })
                                @Html.PasswordFor(loginModel => loginModel.contrasena, new { @id = "password", @class = "form-control" })
                                <button type="button" class="toggle-password" onclick="togglePasswordVisibility()">
                                    <i id="toggleIcon" class="fas fa-eye"></i>
                                </button>
                                @Html.ValidationMessageFor(loginModel => loginModel.contrasena, "", new { @class = "text-danger" })
                            </div>
                            @if (ViewBag.ErrorMessage != null)
                            {
                                <div class="text-danger text-center">
                                    @ViewBag.ErrorMessage
                                </div>
                            }
                            else
                            {
                                @if (ViewBag.SuccessMessage != null)
                                {
                                    <div class="text-success text-center">
                                        @ViewBag.SuccessMessage
                                    </div>
                                }
                            }
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-primary btn-block">Acceder</button>
                            </div>
                        }

                        <div class="text-center mt-3">
                            <a href="/connect/authorize?client_id=client&redirect_uri=https%3A%2F%2Flocalhost%3A5002%2Fsignin-oidc&response_type=code&scope=openid%20profile%20api1&response_mode=form_post" class="btn btn-secondary btn-block">Iniciar Sesión con SSO</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center pt-2 pb-3" style="background-color: #333333; color: #fff; margin-bottom: 30px;">
                    <p class="fw-bold" style="font-size: 1rem;margin-top: 10px;">
                        ¿Aprobó algún módulo antes del 1 de enero de 2025?
                        <br />
                        Solicite su contraseña a
                        <a href="mailto:soporte.metics@ucr.ac.cr" class="text-white fw-bold" style="text-decoration: none;">soporte.metics@ucr.ac.cr</a>.
                    </p>
                    <p class="fw-bold" style="font-size: 1rem;  margin-bottom: 10px;">
                        ¿Va a llevar un módulo por primera vez?
                        @Html.ActionLink("Regístrese aquí", "FormularioRegistro", "Usuario", null, new { @class = "text-white fw-bold text-decoration-underline fst-italic", aria_label = "Formulario de registro" })
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            var toggleIcon = document.getElementById('toggleIcon');
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        }
    </script>

</body>
</html>