@using webMetics.Controllers
@{
    ViewBag.Title = "Categorías";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Id != "" && ViewBag.Role == 1)
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" onclick="history.go(-1); return false;" href="#">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show mb-4" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="d-flex justify-content-between mb-4">
            <div></div>

            <div class="d-flex justify-content-end">
                <div class="mx-1">
                    @Html.ActionLink("  Crear", "CrearCategoria", "Categoria", new { }, new { @class = "btn btn-primary bi bi-plus-lg" })
                </div>
            </div>
        </div>

        <div class="table-responsive">
            @if (ViewBag.Categorias == null)
            {
                <h5 class="text-center">No hay categorías.</h5>
                <div class="justify-content-center m-3">
                    @Html.ActionLink("  Crear", "CrearCategoria", "Categoria", new { }, new { @class = "btn btn-primary bi bi-plus-lg" })
                </div>
            }
            else
            {
                <table class="table table-striped" id="tblCustomers">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th class="text-center" scope="col" style="width:3.33%;"></th>
                            <th class="text-center" scope="col" style="width:3.33%;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var categoria in ViewBag.Categorias)
                        {
                            <tr>
                                <td>@categoria.nombre</td>
                                <td>@categoria.descripcion</td>
                                <td>
                                    @Html.ActionLink(" ", "EditarCategoria", "Categoria", new { idCategoria = categoria.idCategoria }, new { @class = "text-secondary bi bi-pencil-square" })
                                </td>
                                <td>
                                    <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar" onclick="actualizarModalEliminar('@categoria.idCategoria')">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar categoría</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea eliminar esta categoría?
                    <br />
                    @using (Html.BeginForm("EliminarCategoria", "Categoria"))
                    {
                        <div class="modal-footer">
                            <input type="hidden" id="idCategoria" name="idCategoria">
                            <input type="submit" class="btn btn-danger" value="Aceptar" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    await Html.RenderPartialAsync("~/Views/Usuario/IniciarSesion.cshtml");
}

<script type="text/javascript">
    function actualizarModalEliminar(idCategoria) {
        document.getElementById("idCategoria").value = idCategoria;
    }
</script>