@using webMetics.Controllers

<!--
    Vista para mostrar la lista de todos los asesores con la información personal de cada uno
    Se muestran las opciones de poder eliminar, editar o crear un asesor
-->

@{
    ViewBag.Title = "Asesores";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Id != "" && ViewBag.Role == 1)
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" onclick="history.go(-1); return false;" href="#">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show mb-4" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="d-flex justify-content-between mb-4">
            <div></div>

            <div class="d-flex justify-content-end">
                <div class="mx-1">
                    @Html.ActionLink("   Agregar", "CrearAsesor", "Asesor", new { }, new { @class = "btn btn-primary bi bi-person-plus" })
                </div>
            </div>
        </div>

        <div class="table-responsive">
            @if (ViewBag.Asesores == null)
            {
                <h5 class="text-center">No hay asesores.</h5>
            }
            else
            {
                <table class="table table-striped" id="tblCustomers">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Primer<br>Apellido</th>
                            <th scope="col">Segundo<br>Apellido</th>
                            <th scope="col">Correo Institucional</th>
                            <th scope="col">Descripción</th>
                            <th scope="col" style="width:10%;">Teléfono</th>
                            <th class="text-center" scope="col" style="width:3.33%;"></th>
                            <th class="text-center" scope="col" style="width:3.33%;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var asesor in ViewBag.Asesores)
                        {
                            var nombreCompleto = asesor.nombre;
                            nombreCompleto += " " + asesor.primerApellido;
                            if (asesor.segundoApellido != "-")
                            {
                                nombreCompleto += " " + asesor.segundoApellido;
                            }

                            <tr>
                                <td>@asesor.nombre</td>
                                <td>@asesor.primerApellido</td>
                                <td>@asesor.segundoApellido</td>
                                <td>@asesor.correo</td>
                                <td>@asesor.descripcion</td>
                                <td>@asesor.telefono</td>
                                <td>
                                    @Html.ActionLink(" ", "EditarAsesor", "Asesor", new { idAsesor = asesor.idAsesor }, new { @class = "text-secondary bi bi-pencil-square" })
                                </td>
                                <td>
                                    <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar" onclick="actualizarModalEliminar('@asesor.idAsesor')">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar asesor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea eliminar a este asesor?
                    <br />
                    @using (Html.BeginForm("EliminarAsesor", "Asesor"))
                    {
                        <div class="modal-footer">
                            <input type="hidden" id="idAsesor" name="idAsesor">
                            <input type="submit" class="btn btn-danger" value="Aceptar" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}

<script type="text/javascript">
    function actualizarModalEliminar(idAsesor) {
        document.getElementById("idAsesor").value = idAsesor;
    }
</script>
