@using webMetics.Controllers
@{
    ViewBag.Title = "Editar calificación";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Id != "" && (ViewBag.Role == 1 || ViewBag.Role == 2))
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" onclick="history.go(-1); return false;" href="#">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.NombreGrupo</h1>
        <h2>@ViewBag.Title</h2>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                <strong> @TempData["Message"] </strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <hr />
        <div class="table-responsive">
            @if (ViewBag.Calificacion == null)
            {
                <h5 class="text-center">No hay una calificación registrada.</h5>
            }
            else
            {
                var nombreCompleto = ViewBag.Calificacion.participante.nombre;
                nombreCompleto += " " + ViewBag.Calificacion.participante.primerApellido;

                <table class="table table-striped" id="tblCustomers">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 40%;">Nombre completo</th>
                            <th scope="col" style="width: 30%;">Correo institucional</th>
                            <th scope="col" style="width: 12.5%;">Calificación actual</th>
                            <th scope="col" style="width: 12.5%;">Nueva calificación</th>
                            <th scope="col" style="width: 5%;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (ViewBag.Calificacion.participante.segundoApellido != "-")
                        {
                            nombreCompleto += " " + ViewBag.Calificacion.participante.segundoApellido;
                        }
                        <tr>
                            <td class="">@nombreCompleto</td>
                            <td class="">@ViewBag.Calificacion.participante.idParticipante</td>
                            <td class="text-center">@ViewBag.Calificacion.calificacion</td>
                            @using (Html.BeginForm("SubirCalificacion", "Calificaciones", new { idGrupo = ViewBag.Calificacion.idGrupo, idParticipante = ViewBag.Calificacion.participante.idParticipante }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <td class="">
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="calificacion" id="calificacion">
                                    </div>
                                </td>
                                <td class="">
                                    <button type="submit" class="btn btn-primary">Aceptar</button>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            }
            <div class="d-flex justify-content-center">
                <a asp-action="ListaGruposDisponibles" asp-controller="Grupo" class="btn btn-primary">Regresar</a>
            </div>
        </div>
    </div>
}
else
{
    await Html.RenderPartialAsync("~/Views/Usuario/IniciarSesion.cshtml");
}