@using webMetics.Controllers
@{
    ViewBag.Title = "Editar calificación";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Id != "" && (ViewBag.Role == 1 || ViewBag.Role == 2))
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" onclick="history.go(-2); return false;" href=#>
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.NombreGrupo</h1>
        <h2>@ViewBag.Title</h2>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="table-responsive">
            @if (ViewBag.Calificacion == null)
            {
                <h5 class="text-center">No hay una calificación registrada.</h5>
            }
            else
            {
                var nombreCompleto = ViewBag.Calificacion.participante.nombre;
                nombreCompleto += " " + ViewBag.Calificacion.participante.primerApellido;

                <table class="table table-striped" id="tblCustomers">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Correo Institucional</th>
                            <th scope="col" style="width: 12.5%;">Calificación Actual</th>
                            <th scope="col" style="width: 12.5%;">Nueva Calificación</th>
                            <th scope="col" style="width: 3.33%;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (ViewBag.Calificacion.participante.segundoApellido != "-")
                        {
                            nombreCompleto += " " + ViewBag.Calificacion.participante.segundoApellido;
                        }
                        <tr>
                            <td>@nombreCompleto</td>
                            <td>@ViewBag.Calificacion.participante.idParticipante</td>
                            <td class="text-center">@ViewBag.Calificacion.calificacion</td>
                            @using (Html.BeginForm("SubirCalificacion", "Calificaciones", new { idGrupo = ViewBag.Calificacion.idGrupo, idParticipante = ViewBag.Calificacion.participante.idParticipante }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <td>
                                    <input type="number" min="0", max="100" class="form-control" name="calificacion" id="calificacion">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-outline-primary">Aceptar</button>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            }
            <div class="d-flex justify-content-center my-4">
                <a href="#" class="btn btn-primary btn-block" onclick="history.go(-1); return false;">Regresar</a>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}