@using webMetics.Controllers;
@{
    ViewBag.Title = "Calificaciones";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Id != "" && (ViewBag.Role == 1 || ViewBag.Role == 2))
{
    <div class="contenedor-caja container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" href="@Url.Action("ListaParticipantes", "Participante", new { idGrupo = ViewBag.IdGrupo })">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.NombreGrupo</h1>
        <h2>@ViewBag.Title</h2>

        <hr />
        <div class="table-responsive">
            @if (ViewBag.ListaCalificaciones == null)
            {
                <h5 class="text-center">No hay personas inscritas</h5>
            }
            else
            {
                if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-dark alert-dismissible fade show" role="alert">
                        @ViewBag.ErrorMessage
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @ViewBag.SuccessMessage
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="d-flex justify-content-between mb-4">
                    <div>
                        @using (Html.BeginForm("SubirExcelCalificaciones", "Calificaciones", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <form>
                                <div class="mb-3 d-flex" style="max-width: 600px">
                                    <label for="file"></label>
                                    <input type="file" class="form-control" name="file" id="file">
                                    <input class="btn btn-secondary ms-2" type="submit" value="Subir archivo">

                                    <input type="hidden" name="idGrupo" id="idGrupo" value="@ViewBag.IdGrupo">
                                </div>

                                <div class="mb-4 bg-light p-3 rounded d-flex">
                                    <h4><i class="bi bi-exclamation-circle-fill me-2 text-secondary"></i></h4>
                                    <small class="text-muted">
                                        Subir un archivo en formato <strong>XLS</strong> o <strong>XLSX</strong> con las siguientes columnas:
                                        <br />
                                        Correo Institucional, Calificación, Horas Aprobadas
                                    </small>
                                </div>
                            </form>
                        }
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="mx-1">
                            @Html.ActionLink("   PDF", "ExportarCalificacionesPDF", "Calificaciones", new { idGrupo = ViewBag.IdGrupo }, new { @class = "btn btn-outline-secondary bi bi-download" })
                        </div>
                        <div class="mx-1">
                            @Html.ActionLink("   Excel", "ExportarCalificacionesExcel", "Calificaciones", new { idGrupo = ViewBag.IdGrupo }, new { @class = "btn btn-outline-secondary bi bi-download" })
                        </div>
                        <div class="mx-1">
                            @Html.ActionLink("   Word", "ExportarCalificacionesWord", "Calificaciones", new { idGrupo = ViewBag.IdGrupo }, new { @class = "btn btn-outline-secondary bi bi-download" })
                        </div>
                        <div class="mx-1">
                            <button class="btn btn-outline-primary" id="sendEmailButton"><i class="bi bi-send me-2"></i>Enviar por correo</button>
                        </div>
                    </div>
                </div>

                <table class="table table-striped" id="tblCustomers">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 2.5%;"></th>
                            <th scope="col" style="width: 19%;">Nombre Completo</th>
                            <th scope="col" style="width: 19%;">Correo Institucional</th>
                            <th scope="col" style="width: 19%;">Estado</th>
                            <th scope="col" style="width: 19%;">Horas Aprobadas</th>
                            <th class="text-center" scope="col" style="width: 19%;">Calificación</th>
                            <th scope="col" style="width: 2.5%;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var calificacion in ViewBag.ListaCalificaciones)
                        {
                            var nombreCompleto = calificacion.participante.nombre;
                            nombreCompleto += " " + calificacion.participante.primerApellido;
                            if (calificacion.participante.segundoApellido != "-")
                            {
                                nombreCompleto += " " + calificacion.participante.segundoApellido;
                            }
                            <tr>
                                <td>
                                    <input type="checkbox" class="participante-checkbox" value="@calificacion.participante.idParticipante" />
                                </td>
                                <td>@nombreCompleto</td>
                                <td>@calificacion.participante.idParticipante</td>
                                <td>@calificacion.estado</td>
                                <td>@calificacion.horasAprobadas</td>
                                <td class="text-center">@calificacion.calificacion</td>
                                <td>
                                    @Html.ActionLink(" ", "EditarCalificacion", "Calificaciones", new { idGrupo = ViewBag.IdGrupo, idParticipante = calificacion.participante.idParticipante }, new { @class = "text-secondary bi bi-pencil-square" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="d-flex justify-content-center my-4">
                <a href="@Url.Action("ListaParticipantes", "Participante", new { idGrupo = ViewBag.IdGrupo })" class="btn btn-primary btn-block">
                    Regresar
                </a>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}

<script>
    document.getElementById('sendEmailButton').onclick = function () {
        var selectedParticipants = [];
        // Gather selected checkboxes
        document.querySelectorAll('.participante-checkbox:checked').forEach(function (checkbox) {
            selectedParticipants.push(checkbox.value);
        });

        // Create a comma-separated string
        var participantesSeleccionados = selectedParticipants.join(',');

        // Redirect to the ActionLink with the parameters
        window.location.href = '@Url.Action("EnviarCalificaciones", "Calificaciones", new { idGrupo = "__idGrupo__", participantesSeleccionados = "__participantesSeleccionados__" })'
            .replace('__idGrupo__', '@ViewBag.IdGrupo')
            .replace('__participantesSeleccionados__', participantesSeleccionados);
    };
</script>