@using webMetics.Controllers;
@{
    ViewBag.Title = "Calificaciones";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Id != "" && (ViewBag.Role == 1 || ViewBag.Role == 2))
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" onclick="history.go(-1); return false;" href="#">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.NombreGrupo</h1>
        <h2>@ViewBag.Title</h2>

        <hr />
        <div class="table-responsive">
            @if (ViewBag.ListaCalificaciones == null)
            {
                <h5 class="text-center">No hay personas inscritas</h5>
            }
            else
            {
                if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-dark alert-dismissible fade show" role="alert">
                        @ViewBag.ErrorMessage
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @ViewBag.SuccessMessage
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="d-flex justify-content-between mb-4">
                    <div>
                        @using (Html.BeginForm("CargarDesdeExcel", "Calificaciones", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <form>
                                <div class="mb-3 d-flex">
                                    <label for="file"></label>
                                    <input type="file" class="form-control" name="file" id="file">
                                    <input class="btn btn-secondary ms-2" type="submit" value="Subir archivo">

                                    <input type="hidden" name="idGrupo" id="idGrupo" value="@ViewBag.IdGrupo">
                                </div>
                            </form>
                        }
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="mx-1">
                            @Html.ActionLink("   PDF", "ExportarCalificacionesPDF", "Calificaciones", new { idGrupo = ViewBag.IdGrupo }, new { @class = "btn btn-outline-secondary bi bi-download" })
                        </div>
                        <div class="mx-1">
                            @Html.ActionLink("   Excel", "ExportarCalificacionesExcel", "Calificaciones", new { idGrupo = ViewBag.IdGrupo }, new { @class = "btn btn-outline-secondary bi bi-download" })
                        </div>
                        <div class="mx-1">
                            @Html.ActionLink("   Word", "ExportarCalificacionesWord", "Calificaciones", new { idGrupo = ViewBag.IdGrupo }, new { @class = "btn btn-outline-secondary bi bi-download" })
                        </div>
                        <div class="mx-1">
                            @Html.ActionLink("   Enviar", "EnviarCalificaciones", "Calificaciones", new { idGrupo = ViewBag.IdGrupo }, new { @class = "btn btn-primary bi bi-send" })
                        </div>
                    </div>
                </div>

                <table class="table table-striped" id="tblCustomers">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 30%;">Nombre Completo</th>
                            <th scope="col" style="width: 45%;">Correo Institucional</th>
                            <th class="text-center" scope="col" style="width: 20%;">Calificación</th>
                            <th scope="col" style="width: 3.33%;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var calificacion in ViewBag.ListaCalificaciones)
                        {
                            var nombreCompleto = calificacion.participante.nombre;
                            nombreCompleto += " " + calificacion.participante.primerApellido;
                            if (calificacion.participante.segundoApellido != "-")
                            {
                                nombreCompleto += " " + calificacion.participante.segundoApellido;
                            }
                            <tr>
                                <td>@nombreCompleto</td>
                                <td>@calificacion.participante.idParticipante</td>
                                <td class="text-center">@calificacion.calificacion</td>
                                <td>
                                    @Html.ActionLink(" ", "EditarCalificacion", "Calificaciones", new { idGrupo = ViewBag.IdGrupo, idParticipante = calificacion.participante.idParticipante }, new { @class = "text-secondary bi bi-pencil-square" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="d-flex justify-content-center my-4">
                <a href="#" class="btn btn-primary btn-block" onclick="history.go(-1); return false;">Regresar</a>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}