@using webMetics.Controllers
@{
    ViewBag.Title = "Temas";
}

<!DOCTYPE html>
<html>
<body>
    @if (ViewBag.Id != "" && ViewBag.Role == 1)
    {
        if (ViewBag.Message != null)
        {
            <div class="alert-success">
                <h3> @ViewBag.Message </h3>
            </div>
        }

        <div class="contenedor-tipos-actividades container-fluid">
            <a href="/Tema/CrearTema" class="btn btn-primary" style="float: right; margin-right: 20px;width:20%;height:105%">Crear tema</a>

            <h1>@ViewBag.Nombre</h1>
            <hr />
            <div class="table-responsive">
                @if (ViewBag.Temas == null)
                {
                    <h5> No hay temas disponibles para esta categoría</h5>
                    <div class="justify-content-center" style="margin-top:50px;align-content:center">

                        @Html.ActionLink("Crear tema", "CrearTema", "Tema",
                        new { },
                        new { @class = "btn btn-primary" })
                        @Html.ActionLink("Volver", "ListaCategorias", "Categoria",
                        new { },
                        new { @class = "btn boton-secondary", @style = "background-color:grey" })
                    </div>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Tipo de actividad</th>
                                <th scope="col">Asesor principal</th>
                                <th scope="col">Asesores apoyo</th>
                                <th scope="col"></th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var tema in ViewBag.Temas)
                            {
                                <tr>
                                    <td>@tema.nombre</td>
                                    <td>@tema.tipoActividad</td>
                                    <td>@tema.asesorPrincipal</td>
                                    <td>@tema.asesores</td>
                                    <td>
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalEliminar" onclick="actualizarModal('@tema.idTema')">
                                            Eliminar
                                        </button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>


        <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar tema</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro que deseas eliminar este tema?

                        @using (Html.BeginForm("EliminarTema", "Tema"))
                        {
                            @Html.AntiForgeryToken()

                            <div class="modal-footer">
                                <input type="hidden" id="nombreTema" name="nombre">
                                <input type="submit" class="btn btn-primary" value="Aceptar" onclick="" />
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    }
    else
    {
        await Html.RenderPartialAsync("~/Views/Usuario/IniciarSesion.cshtml");
    }
</body>
</html>

<script type="text/javascript">
    function actualizarModal(idTema) {
        document.getElementById("nombreTema").value = idTema;
    }
</script>
