@model webMetics.Models.ParticipanteModel
@{
    ViewBag.Title = "Módulos del Participante";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Role == 1 || ViewBag.Role == 2)
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" href="@Url.Action("VerInscripciones", "Inscripcion")">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="table-responsive">
            @if (ViewBag.Participante == null)
            {
                <h5 class="text-center">Los datos de este participante no están disponibles.</h5>
            }
            else
            {
                <!-- Agregar medallas (admin) -->
                if (ViewBag.Role == 1)
                {
                    <br />
                    <div class="mb-4 bg-light p-3 rounded w-50">
                        <div class="d-flex align-text-center">
                            <h6><i class="bi bi-exclamation-circle-fill me-2 text-secondary"></i></h6>
                            <small class="text-muted">Subir una imagen en formato <strong>PNG</strong> menor a 5 MB.</small>
                        </div>
                        <div class="form-group mt-3">
                            <form method="post" enctype="multipart/form-data" asp-controller="Participante" asp-action="SubirMedalla">
                                <div class="d-flex justify-content-between">
                                    <input name="idParticipante" value="@ViewBag.Participante.idParticipante" hidden />
                                    <input type="file" name="imageFile" class="form-control" />
                                    <button type="submit" class="btn btn-secondary ms-2 w-50"><i class="bi bi-plus-lg me-2"></i>Agregar medalla</button>
                                </div>
                            </form>
                        </div>
                    </div>
                }
                <!-- Medallas -->
                @if (ViewBag.Medallas != null)
                {
                    <br />
                    <h3 class="">Medallas</h3>

                    <div class="d-flex justify-content-start mt-4">
                        @foreach (string nombreMedalla in ViewBag.Medallas)
                        {
                            <div class="card me-2" style="height: 305px;">
                                @{
                                    var medalPath = Directory.EnumerateFiles("wwwroot/images/medallas", nombreMedalla).FirstOrDefault();
                                }
                                @if (medalPath != null)
                                {
                                    var normalizedMedalPath = medalPath.Replace('\\', '/');
                                    var relativeMedalPath = normalizedMedalPath.Replace("wwwroot/", "/", StringComparison.OrdinalIgnoreCase);
                                    <img class="card-img" src="@relativeMedalPath" style="height: 300px;" />
                                }
                            </div>
                        }
                    </div>
                }
                
                var nombreCompleto = ViewBag.Participante.nombre;
                nombreCompleto += " " + ViewBag.Participante.primerApellido;

                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Correo Institucional</th>
                            <th scope="col">Módulos Inscritos</th>
                            <th class="text-center" scope="col" style="width: 10%">Total Horas<br>Inscritas</th>
                            <th class="text-center" scope="col" style="width: 10%">Total Horas<br>Aprobadas</th>
                        </tr>
                    </thead>

                    <tbody class="align-middle">
                        @if (ViewBag.Participante.segundoApellido != "-")
                        {
                            nombreCompleto += " " + ViewBag.Participante.segundoApellido;
                        }

                        <tr>
                            <td class="">
                                <span>@nombreCompleto</span>
                            </td>

                            <td class="">
                                <span>@ViewBag.Participante.idParticipante</span>
                            </td>

                            <td class="">
                            @foreach (var inscripcion in ViewBag.Inscripciones)
                            {
                                <div class="my-2"><i class="bi bi-check"></i> @inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)</div>
                            }
                            </td>

                            <td class="text-center">
                                <span>@ViewBag.Participante.horasMatriculadas</span>
                            </td>

                            <td class="text-center">
                                <span>@ViewBag.Participante.horasAprobadas</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="w-100">
                    <tbody>
                        @if (ViewBag.Inscripciones != null)
                        {
                            @foreach (var inscripcion in ViewBag.Inscripciones)
                            {
                                <tr data-bs-toggle="collapse" data-bs-target="#detalle-@inscripcion.idInscripcion" class="accordion-toggle">
                                    <td colspan="8" class="text-center">
                                        <a href="#" class="btn btn-link">Ver Detalles de @inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="8" class="hiddenRow">
                                        <div id="detalle-@inscripcion.idInscripcion" class="collapse in">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="" scope="col" style="width:20%;">Nombre Completo</th>
                                                        <th class="" scope="col" style="width:20%;">Módulo</th>
                                                        <th class="" scope="col" style="width:7.5%;">Estado</th>

                                                        <th class="text-center" scope="col" style="width: 7.5%;">Horas<br>Inscritas</th>
                                                        <th class="text-center" scope="col" style="width: 7.5%;">Horas<br>Aprobadas</th>
                                                        <th class="text-center" scope="col" style="width: 15%;">Aprobar<br>Horas</th>

                                                        <th class="text-center" scope="col" style="width: 7.5%;">Calificación</th>
                                                        <th class="text-center" scope="col" style="width: 15%;">Editar<br>Calificación</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="align-middle">
                                                    <tr>
                                                        <td class="">@nombreCompleto</td>
                                                        <td class="">@inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)</td>
                                                        <td class="">@inscripcion.estado</td>
                                                        
                                                        <td class="text-center">@((inscripcion.horasMatriculadas ?? 0))</td>
                                                        <td class="text-center">@((inscripcion.horasAprobadas ?? 0))</td>
                                                        <td class="text-center">
                                                            @using (Html.BeginForm("SubirHorasAprobadas", "Participante", new { idGrupo = inscripcion.idGrupo, nombreGrupo = inscripcion.nombreGrupo, numeroGrupo = inscripcion.numeroGrupo, idParticipante = ViewBag.Participante.idParticipante }, FormMethod.Post))
                                                            {
                                                                <div class="my-2 align-items-center justify-content-start d-lg-flex">
                                                                    <input type="number" min="0" class="form-control" style="max-width: 125px;" name="horasAprobadas">
                                                                    <button type="submit" class="m-1 btn btn-outline-secondary">Aceptar</button>
                                                                </div>
                                                            }
                                                        </td>
                                                        <td class="text-center">@((inscripcion.calificacion ?? 0))</td>
                                                        <td class="text-center">
                                                            @using (Html.BeginForm("SubirCalificacion", "Calificaciones", new { idGrupo = inscripcion.idGrupo, idParticipante = ViewBag.Participante.idParticipante }, FormMethod.Post))
                                                            {
                                                                <div class="my-2 align-items-center justify-content-start d-lg-flex">
                                                                    <input type="number" min="0" , max="100" class="form-control" style="max-width: 125px;" name="calificacion" id="calificacion">
                                                                    <button type="submit" class="m-1 btn btn-outline-secondary">Aceptar</button>
                                                                </div>
                                                            }
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            <hr />
            <div class="col-auto">
                <a href="@Url.Action("VerInscripciones", "Inscripcion")" class="btn btn-secondary btn-block">Regresar</a>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}