@using webMetics.Controllers
@{
    ViewBag.Title = "Módulos y horas inscritas";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Asesor")))
    {
        <div class="contenedor-tipos-actividades container-fluid">
            <a class="bottomNav bi bi-arrow-left" style="color: #5a5a5a; text-decoration: none; " onclick="history.go(-1); return false;" href="#"></a><br />

            <h1>@ViewBag.Title</h1>
            <hr />

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-dark alert-dismissible fade show" role="alert">
                    @ViewBag.ErrorMessage
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @ViewBag.SuccessMessage
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

        <div class="table-responsive">

            @if (ViewBag.Participante == null)
            {
                <h5 class="text-center">Los datos de este participante no están disponibles.</h5>
            }
            else
            {
                var nombreCompleto = ViewBag.Participante.nombre;
                nombreCompleto += " " + ViewBag.Participante.apellido_1;

                <table class="table table-striped" id="tblCustomers">
                    <thead>
                        <tr>
                            <th scope="col">Identificación</th>
                            <th scope="col">Nombre completo</th>
                            <th scope="col">Módulos inscritos</th>
                            <th class="text-center" scope="col" style="width: 10%">Horas<br>por módulo</th>
                            <th class="text-center" scope="col" style="width: 10%">Total de<br>horas inscritas</th>
                            <th class="text-center" scope="col" style="width: 10%">Horas<br>aprobadas</th>
                        </tr>
                    </thead>

                    <tbody class="align-middle">
                        @if (ViewBag.Participante.apellido_2 != "-")
                        {
                            nombreCompleto += " " + ViewBag.Participante.apellido_2;
                        }
                        <tr>
                            <td class="titulo-listas">@ViewBag.Participante.idParticipante</td>
                            <td class="titulo-listas">@nombreCompleto</td>
                            <td class="titulo-listas">
                                @if (ViewBag.ListaGrupos != null)
                                {
                                    foreach (var grupo in ViewBag.ListaGrupos)
                                    {
                                        <span>@grupo.nombre (Grupo @grupo.idGrupo)</span><br>
                                    }
                                }
                                else
                                {
                                    <span>Sin grupos inscritos</span>
                                }
                            </td>
                            <td class="titulo-listas text-center">
                                @if (ViewBag.ListaGrupos != null)
                                {
                                    foreach (var grupo in ViewBag.ListaGrupos)
                                    {
                                        <span>@grupo.cantidadHoras</span><br>
                                    }
                                }
                                else
                                {
                                    <span>0</span>
                                }
                            </td>
                            <td class="titulo-listas text-center">
                                <span>@ViewBag.Participante.horasMatriculadas</span>
                            </td>
                            <td class="titulo-listas text-center">
                                <span>@ViewBag.Participante.horasAprobadas</span>
                            </td>
                            <td class="titulo-listas">
                            </td>
                        </tr>
                    </tbody>
                </table>
            }

            @using (Html.BeginForm("SubirHorasAprobadas", "Participante", new { idParticipante = ViewBag.Participante.idParticipante }, FormMethod.Post))
            {
                <div class="d-flex justify-content-end">
                    <div class="d-flex my-2 bg-light p-3 rounded-1" style="width:33%">
                        @Html.AntiForgeryToken()
                        <div class="navbar-text ms-3 me-2"><strong>Aprobar</strong></div>
                        <div class="input-group">
                            <input type="number" class="form-control" name="horasAprobadas" id="horasAprobadas">
                        </div>
                        <div class="navbar-text ms-2 me-4"><strong>horas.</strong></div>
                        <div class="align-self-center ms-5"><button type="submit" class="btn btn-info">Aceptar</button></div>
                    </div>
                </div>
            }

            <hr />

            <div class="d-flex justify-content-center">
                <a href="../Participante/VerParticipantes" class="btn btn-primary">Regresar</a>
            </div>
        </div>
        </div>
    }
</body>
</html>