@model webMetics.Models.ParticipanteModel
@{
    ViewBag.Title = "Módulos y Horas";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Role == 1 || ViewBag.Role == 2)
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" onclick="history.go(-1); return false;" href="#">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="table-responsive">

            @if (ViewBag.Participante == null)
            {
                <h5 class="text-center">Los datos de este participante no están disponibles.</h5>
            }
            else
            {
                @using (Html.BeginForm("SubirHorasAprobadas", "Participante", new { idGrupo = 1, idParticipante = ViewBag.Participante.idParticipante }, FormMethod.Post))
                {
                    var nombreCompleto = ViewBag.Participante.nombre;
                    nombreCompleto += " " + ViewBag.Participante.primerApellido;

                    <table class="table table-striped" id="tblCustomers">
                        <thead>
                            <tr>
                                <th scope="col">Nombre Completo</th>
                                <th scope="col">Correo Institucional</th>
                                <th scope="col">Módulos Matriculados</th>
                                <th class="text-center" scope="col" style="width: 10%">Horas<br>Matriculadas</th>
                                <th class="text-center" scope="col" style="width: 10%">Horas<br>Aprobadas</th>
                                <th class="text-center" scope="col" style="width: 10%">Total Horas<br>Matriculadas</th>
                                <th class="text-center" scope="col" style="width: 10%">Total Horas<br>Aprobadas</th>
                            </tr>
                        </thead>

                        <tbody class="align-middle">
                            @if (ViewBag.Participante.segundoApellido != "-")
                            {
                                nombreCompleto += " " + ViewBag.Participante.segundoApellido;
                            }
                            <tr>
                                <td class="">@nombreCompleto</td>
                                <td class="">@ViewBag.Participante.idParticipante</td>
                                
                                @if (ViewBag.Inscripciones != null)
                                {
                                    <td class="">
                                        @foreach (var inscripcion in ViewBag.Inscripciones)
                                        {
                                            <div class="form-check me-1">
                                                <input type="radio" class="form-check-input" id="grupo-@inscripcion.idGrupo" name="idGrupo" value="@inscripcion.idGrupo">
                                                <label class="form-check-label" for="grupo-@inscripcion.idGrupo">
                                                    @inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)
                                                </label>
                                            </div>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td>Sin grupos inscritos</td>
                                }
                                
                                @if (ViewBag.Inscripciones != null)
                                {
                                    <td class="text-center">
                                        @foreach (var inscripcion in ViewBag.Inscripciones)
                                        {
                                            @((inscripcion.horasMatriculadas ?? 0))
                                            <br />
                                        }
                                    </td>

                                    <td class="text-center">
                                        @foreach (var inscripcion in ViewBag.Inscripciones)
                                        {
                                            @((inscripcion.horasAprobadas ?? 0))
                                            <br />
                                        }
                                    </td>
                                }

                                <td class="text-center">
                                    <span>@((ViewBag.Participante.horasMatriculadas ?? 0))</span>
                                </td>
                                <td class="text-center">
                                    <span>@((ViewBag.Participante.horasAprobadas ?? 0))</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            
                    <div class="d-flex justify-content-end">
                        <div class="bg-light rounded-1 d-flex flex-column">
                            <div class="d-flex my-2 p-3 align-items-center flex-grow-1">
                                <div class="navbar-text me-2"><strong>Aprobar</strong></div>
                                <input type="number" min="0" class="form-control flex-grow-1" name="horasAprobadas">
                                <div class="navbar-text ms-2"><strong>horas.</strong></div>
                                <small class="text-danger">
                                    @Html.ValidationMessageFor(model => model.horasAprobadas)
                                </small>
                            </div>
                            <div class="mx-4 mb-4 align-self-center">
                                <button type="submit" class="btn btn-outline-primary">Aceptar</button>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="d-flex justify-content-center my-4">
                <a href="#" class="btn btn-primary btn-block" onclick="history.go(-1); return false;">Regresar</a>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}