@using webMetics.Controllers
@{
    ViewBag.Title = "Módulos y Horas";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Role == 1 || ViewBag.Role == 2)
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" onclick="history.go(-1); return false;" href="#">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="table-responsive">

            @if (ViewBag.Participante == null)
            {
                <h5 class="text-center">Los datos de este participante no están disponibles.</h5>
            }
            else
            {
                var nombreCompleto = ViewBag.Participante.nombre;
                nombreCompleto += " " + ViewBag.Participante.primerApellido;

                <table class="table table-striped" id="tblCustomers">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Correo Institucional</th>
                            <th scope="col">Módulos Matriculados</th>
                            <th class="text-center" scope="col" style="width: 10%">Horas<br>por Módulo</th>
                            <th class="text-center" scope="col" style="width: 10%">Horas<br>Matriculadas</th>
                            <th class="text-center" scope="col" style="width: 10%">Horas<br>Aprobadas</th>
                        </tr>
                    </thead>

                    <tbody class="align-middle">
                        @if (ViewBag.Participante.segundoApellido != "-")
                        {
                            nombreCompleto += " " + ViewBag.Participante.segundoApellido;
                        }
                        <tr>
                            <td class="">@nombreCompleto</td>
                            <td class="">@ViewBag.Participante.idParticipante</td>
                            <td class="">
                                @if (ViewBag.ListaGrupos != null)
                                {
                                    foreach (var grupo in ViewBag.ListaGrupos)
                                    {
                                        <span>@grupo.nombre (Grupo @grupo.idGrupo)</span>

                                        <br>
                                    }
                                }
                                else
                                {
                                    <span>Sin grupos inscritos</span>
                                }
                            </td>
                            <td class="text-center">
                                @if (ViewBag.ListaGrupos != null)
                                {
                                    foreach (var grupo in ViewBag.ListaGrupos)
                                    {
                                        <span>@grupo.cantidadHoras</span>

                                        <br>
                                    }
                                }
                                else
                                {
                                    <span>0</span>
                                }
                            </td>
                            <td class="text-center">
                                <span>@ViewBag.Participante.horasMatriculadas</span>
                            </td>
                            <td class="text-center">
                                <span>@ViewBag.Participante.horasAprobadas</span>
                            </td>
                            <td class=""></td>
                        </tr>
                    </tbody>
                </table>
            }

            @using (Html.BeginForm("SubirHorasAprobadas", "Participante", new { idParticipante = ViewBag.Participante.idParticipante }, FormMethod.Post))
            {
                <div class="d-flex justify-content-end">
                    <div class="bg-light rounded-1 d-flex flex-column">
                        <div class="d-flex my-2 p-3 align-items-center flex-grow-1">
                            @Html.AntiForgeryToken()
                            <div class="navbar-text me-2"><strong>Aprobar</strong></div>
                            <input type="number" class="form-control flex-grow-1" name="horasAprobadas" id="horasAprobadas">
                            <div class="navbar-text ms-2"><strong>horas.</strong></div>
                        </div>
                        <div class="mx-4 mb-4 align-self-center">
                            <button type="submit" class="btn btn-outline-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            }
            <div class="d-flex justify-content-center my-4">
                <a href="#" class="btn btn-primary btn-block" onclick="history.go(-1); return false;">Regresar</a>
            </div>
        </div>
    </div>
}