@model webMetics.Models.ParticipanteModel
@{
    ViewBag.Title = "Módulos del Participante";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

<style>
    .medalla-list-container {
    max-height: 300px; /* Increased height */
    overflow-y: auto;
    border: 0px solid #ccc;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px; /* Added gap for better spacing */
    }

    .medalla-item {
    display: flex; /* Use flexbox for vertical layout */
    flex-direction: column; /* Stack image and checkbox vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
    width: 200px;
    }

    .medalla-image {
    max-width: 200px; /* Increased image size */
    max-height: 200px;
    margin-bottom: 5px;
    }
</style>

@if (ViewBag.Role == 1 || ViewBag.Role == 2)
{
    <div class="contenedor-caja container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                @if (ViewBag.IdGrupo != null)
                {
                    <a class="text-dark fs-4" href="@Url.Action("ListaParticipantes", "Participante", new { idGrupo = ViewBag.IdGrupo })">
                        <i class="bi bi-arrow-left"> </i>
                    </a>
                }
                else
                {
                    <a class="text-dark fs-4" href="@Url.Action("VerInscripciones", "Inscripcion")">
                        <i class="bi bi-arrow-left"> </i>
                    </a>
                }
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="table-responsive">
            @if (ViewBag.Participante == null)
            {
                <h5 class="text-center">Los datos de este participante no están disponibles.</h5>
            }
            else
            {
                <!-- Selector de medallas (admin) -->
                @if (ViewBag.Role == 1)
                {
                    <br />
                    <div class="card">
                        <div class="card-header" id="medallasHeader">
                            <h3 class="mb-0">
                                <button class="bi bi-chevron-down btn text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMedallas" aria-expanded="true" aria-controls="collapseMedallas">
                                    Asignar Medallas
                                </button>
                            </h3>
                        </div>

                        <div id="collapseMedallas" class="collapse show" aria-labelledby="medallasHeader">
                            <div class="card-body">
                                <form method="post" action="@Url.Action("AsignarMedallas", "Participante")">
                                    <input type="hidden" name="idParticipante" value="@ViewBag.Participante.idParticipante" />

                                    <div class="d-flex justify-content-between mb-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="medallaSearch" onkeyup="filterMedals()" placeholder="Ingrese el nombre de la medalla">
                                            <span class="input-group-text">
                                                <i class="bi bi-search"></i>
                                            </span>
                                        </div>
                                        <div class="d-flex justify-content-end ms-3">
                                            <button type="submit" class="btn btn-secondary justify-content-end bi bi-check-lg"></button>
                                        </div>
                                    </div>

                                    <div class="mb-3" style="max-height: 200px; overflow-y: auto; border: 1px solid #ccc; padding: 5px; border-radius: 5px;">
                                        <div id="medallaList" class="medalla-list-container">
                                            @if (ViewBag.TodasMedallas != null)
                                            {
                                                @foreach (var medalla in ViewBag.TodasMedallas)
                                                {
                                                    <div class="d-flex flex-column">
                                                        <div class="medalla-item">
                                                            <img src="~/images/medallas/@medalla" alt="@medalla" class="medalla-image" />
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="selectedMedallas" value="@medalla" id="medalla-@medalla">
                                                            <label class="form-check-label" for="medalla-@medalla">
                                                                @medalla
                                                            </label>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <p>No hay medallas disponibles.</p>
                                            }
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }

                <!-- Medallas -->
                @if (ViewBag.Medallas != null)
                {
                    <br />
                    <h3 class="">Medallas</h3>

                    <div class="d-flex justify-content-start mt-4">
                        @foreach (string nombreMedalla in ViewBag.Medallas)
                        {
                            <div class="card me-2 h-100" style="width: 300px; height: 300px;">
                                @if (ViewBag.Role == 1)
                                {
                                    <div class="card-header text-muted">
                                        <div style="float:right">
                                            <i class="bi bi-trash3 text-danger" type="button" data-bs-toggle="modal" data-bs-target="#modalEliminar" onclick="actualizarModalEliminar('@nombreMedalla')"></i>
                                        </div>
                                    </div>
                                }
                                @{
                                    var medalPath = Directory.EnumerateFiles("wwwroot/images/medallas", nombreMedalla).FirstOrDefault();
                                }
                                @if (medalPath != null)
                                {
                                    var normalizedMedalPath = medalPath.Replace('\\', '/');
                                    var relativeMedalPath = normalizedMedalPath.Replace("wwwroot/", "/", StringComparison.OrdinalIgnoreCase);

                                    <div class="card-body">
                                        <img class="card-img" src="@relativeMedalPath" style="height: 250px; width: 250px;" />
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
                <br />

                var nombreCompleto = ViewBag.Participante.nombre;
                nombreCompleto += " " + ViewBag.Participante.primerApellido;

                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Correo Institucional</th>
                            <th scope="col">Módulos Inscritos</th>
                            <th class="text-center" scope="col" style="width: 10%">Total Horas<br>Inscritas</th>
                            <th class="text-center" scope="col" style="width: 10%">Total Horas<br>Aprobadas</th>
                        </tr>
                    </thead>

                    <tbody class="align-middle">
                        @if (ViewBag.Participante.segundoApellido != "-")
                        {
                            nombreCompleto += " " + ViewBag.Participante.segundoApellido;
                        }

                        <tr>
                            <td class="">
                                <span>@nombreCompleto</span>
                            </td>

                            <td class="">
                                <span>@ViewBag.Participante.idParticipante</span>
                            </td>

                            <td class="">
                                @foreach (var inscripcion in ViewBag.Inscripciones)
                                {
                                    <div class="my-2"><i class="bi bi-check"></i> @inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)</div>
                                }
                            </td>

                            <td class="text-center">
                                <span>@(ViewBag.Participante.horasMatriculadas)</span>
                            </td>

                            <td class="text-center">
                                <span>@ViewBag.Participante.horasAprobadas</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="w-100">
                    <tbody>
                        @if (ViewBag.Inscripciones != null)
                        {
                            @foreach (var inscripcion in ViewBag.Inscripciones)
                            {
                                <tr data-bs-toggle="collapse" data-bs-target="#detalle-@inscripcion.idInscripcion" class="accordion-toggle">
                                    <td colspan="8" class="text-center">
                                        <a href="#" class="btn btn-link">Ver Detalles de @inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="8" class="hiddenRow">
                                        <div id="detalle-@inscripcion.idInscripcion" class="collapse in">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="" scope="col" style="width:20%;">Nombre Completo</th>
                                                        <th class="" scope="col" style="width:20%;">Módulo</th>
                                                        <th class="" scope="col" style="width:7.5%;">Estado</th>

                                                        <th class="text-center" scope="col" style="width: 7.5%;">Horas<br>Inscritas</th>
                                                        <th class="text-center" scope="col" style="width: 7.5%;">Horas<br>Aprobadas</th>
                                                        <th class="text-center" scope="col" style="width: 15%;">Aprobar<br>Horas</th>
                                                        <th class="text-center" scope="col" style="width: 7.5%;">Calificación</th>
                                                        <th class="text-center" scope="col" style="width: 15%;">Editar<br>Calificación</th>
                                                        <th class="text-center" scope="col" style="width: 3.33%;"></th>
                                                    </tr>
                                                </thead>

                                                <tbody class="align-middle">
                                                    <tr>
                                                        <td class="">@nombreCompleto</td>
                                                        <td class="">@inscripcion.nombreGrupo (Grupo @inscripcion.numeroGrupo)</td>
                                                        <td class="">@inscripcion.estado</td>

                                                        <td class="text-center">@(((inscripcion.horasMatriculadas - inscripcion.horasAprobadas) ?? 0))</td>
                                                        <td class="text-center">@((inscripcion.horasAprobadas ?? 0))</td>
                                                        @using (Html.BeginForm("SubirHorasAprobadasYCalificacion", "Calificaciones", new { idGrupo = inscripcion.idGrupo, idParticipante = ViewBag.Participante.idParticipante }, FormMethod.Post))
                                                        {
                                                            <td class="text-center">
                                                                <div class="my-2 align-items-center justify-content-start d-lg-flex">
                                                                    <input type="number" min="0" class="form-control" style="max-width: 125px;" name="horasAprobadas">
                                                                </div>
                                                            </td>
                                                            <td class="text-center">@((inscripcion.calificacion ?? 0))</td>
                                                            <td class="text-center">
                                                                <div class="my-2 align-items-center justify-content-start d-lg-flex">
                                                                    <input type="number" min="0" , max="100" class="form-control" style="max-width: 125px;" name="calificacion" id="calificacion">
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="my-2 align-items-center justify-content-start d-lg-flex">
                                                                    <button type="submit" class="m-1 btn btn-secondary bi bi-check-lg"></button>
                                                                </div>
                                                            </td>
                                                        }
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            <hr />
            <div class="d-flex my-4 justify-content-center">
                @if (ViewBag.IdGrupo != null)
                {
                    <a href="@Url.Action("ListaParticipantes", "Participante", new { idGrupo = ViewBag.IdGrupo })" class="btn btn-secondary btn-block">Regresar a Módulo</a>
                }
                else {
                    <a href="@Url.Action("VerInscripciones", "Inscripcion")" class="btn btn-secondary btn-block">Regresar</a>
                }
            </div>
        </div>

        <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar medalla</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro de que desea eliminar esta medalla?
                        <br />
                        @using (Html.BeginForm("EliminarMedallaParticipante", "Medallas"))
                        {
                            <div class="modal-footer">
                                <input type="hidden" id="idParticipante" name="idParticipante" value="@ViewBag.Participante.idParticipante">
                                <input type="hidden" id="nombreMedalla" name="nombreMedalla">
                                <input type="submit" class="btn btn-danger" value="Aceptar" />
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}
<script>
        function filterMedals() {
        var input, filter, medallaList, medallas, i, txtValue;
        input = document.getElementById("medallaSearch");
        filter = input.value.toUpperCase();
        medallaList = document.getElementById("medallaList");
        medallas = medallaList.getElementsByClassName("medalla-item");

        for (i = 0; i < medallas.length; i++) {
            txtValue = medallas[i].textContent || medallas[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                medallas[i].style.display = "";
            } else {
                medallas[i].style.display = "none";
            }
        }
    }
</script>
<script type="text/javascript">
    function actualizarModalEliminar(nombreMedalla) {
        document.getElementById("nombreMedalla").value = nombreMedalla;
    }
</script>