@using webMetics.Controllers
@{

    ViewBag.Title = "Participantes";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    @if (ViewBag.Id != "" && ViewBag.Role == 1)
    {
        <div class="contenedor-tipos-actividades container-fluid">
            @if (/*Request.UrlReferrer != null*/true)
            {
                <a class="bottomNav bi bi-arrow-left" style="color: #5a5a5a; text-decoration: none; " onclick="history.go(-1); return false;" href="#"></a><br />
            }
            <h1>@ViewBag.Title</h1>
            <hr />

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-dark alert-dismissible fade show mb-4" role="alert">
                    @ViewBag.ErrorMessage
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-dark alert-dismissible fade show mb-4" role="alert">
                    @ViewBag.SuccessMessage
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <div class="table-responsive">
                @if (ViewBag.ListaParticipantes == null)
                {
                    <h5 class="text-center">No hay personas inscritas en ningún grupo.</h5>
                }
                else
                {
                    <div class="d-flex justify-content-end">
                        <div class="mx-1">
                            @Html.ActionLink("   Agregar", "FormularioUsuario", "Participante", new { }, new { @class = "btn btn-primary bi bi-person-plus" })
                        </div>
                    </div>

                    <table class="table table-striped" id="tblCustomers">
                        <thead>
                            <tr>
                                <th scope="col">Identificación</th>
                                <th scope="col">Nombre completo</th>
                                <th scope="col">Condición</th>
                                <th scope="col">Unidad académica</th>
                                <th scope="col">Correo institucional</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col" style="width:5%;"></th>
                                <th scope="col" style="width:5%;"></th>
                                <th scope="col" style="width:5%;"></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var participante in ViewBag.ListaParticipantes)
                            {
                                var gruposInscritos = participante.gruposInscritos;
                                var nombreCompleto = participante.nombre;
                                nombreCompleto += " " + participante.apellido_1;
                                if (participante.apellido_2 != "-")
                                {
                                    nombreCompleto += " " + participante.apellido_2;
                                }
                                <tr>
                                    <td>@participante.idParticipante</td>
                                    <td>@nombreCompleto</td>
                                    <td>@participante.condicion</td>
                                    <td>@participante.unidadAcademica</td>
                                    <td>@participante.correo</td>
                                    <td>@participante.telefonos</td>
                                    <td>
                                        @Html.ActionLink(" ", "VerDatosParticipante", "Participante", new { idParticipante = participante.idParticipante }, new { @class = "btn btn-primary bi bi-search" })
                                    </td>
                                    <td>
                                        @Html.ActionLink(" ", "EditarParticipante", "Participante", new { idParticipante = participante.idParticipante }, new { @class = "btn btn-outline-secondary bi bi-pencil-square" })
                                    </td>
                                    <td>
                                        <i class="btn btn-outline-danger bi bi-trash" data-bs-toggle="modal" data-bs-target="#modalEliminar" onclick="actualizarModalEliminar(@participante.idParticipante)"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <div class="d-flex justify-content-center">
                    <a href="../Grupo/ListaGruposDisponibles" class="btn btn-primary">Regresar</a>
                </div>
            </div>
        </div>
    }

    <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar participante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea eliminar este participante?

                    @using (Html.BeginForm("EliminarParticipante", "Participante"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="modal-footer">
                            <input type="hidden" id="valueParticipanteEliminar" name="idParticipante">
                            <input type="submit" class="btn btn-primary" value="Aceptar" onclick="" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    function actualizarModalEliminar(idParticipante) {
        document.getElementById("valueParticipanteEliminar").value = idParticipante;
    }
</script>