@using webMetics.Controllers
@{

    ViewBag.Title = "Participantes";

    var urlReferrer = Context.Request.Headers["Referer"].FirstOrDefault();
}

@if (ViewBag.Id != "" && ViewBag.Role == 1)
{
    <div class="contenedor-tipos-actividades container-fluid">
        @if (urlReferrer != null)
        {
            <div class="d-flex justify-content-start mb-3">
                <a class="text-dark fs-4" onclick="history.go(-1); return false;" href="#">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
        }

        <h1>@ViewBag.Title</h1>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dark alert-dismissible fade show mb-4" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="table-responsive">
            <div class="d-flex justify-content-between mb-4">
                <div>
                    @using (Html.BeginForm("SubirArchivoExcel", "Participante", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <form>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="file" class="form-control" name="file" id="file" accept=".xls,.xlsx" required>
                                <input class="btn btn-secondary ms-2" type="submit" value="Subir archivo">
                            </div>

                            <div class="mb-4 bg-light p-3 rounded">
                                <small class="text-muted">
                                    Subir un archivo en formato <strong>XLS</strong> o <strong>XLSX</strong> con las siguientes columnas:
                                    <br />
                                    Unidad Académica, Nombre, Primer Apellido, Segundo Apellido, Correo Institucional, Horas aprobadas
                                </small>
                            </div>
                        </form>
                    }
                </div>

                <div class="d-flex justify-content-end">
                    <div class="mx-1">
                        @Html.ActionLink("   PDF", "ExportarParticipantesPDF", "Participante", new { }, new { @class = "btn btn-outline-secondary bi bi-download" })
                    </div>
                    <div class="mx-1">
                        @Html.ActionLink("   Excel", "ExportarParticipantesExcel", "Participante", new { }, new { @class = "btn btn-outline-secondary bi bi-download" })
                    </div>
                    <div class="mx-1">
                        @Html.ActionLink("   Word", "ExportarParticipantesWord", "Participante", new { }, new { @class = "btn btn-outline-secondary bi bi-download" })
                    </div>
                    <div class="mx-1">
                        @Html.ActionLink("   Agregar", "FormularioParticipante", "Participante", new { }, new { @class = "btn btn-primary bi bi-person-plus" })
                    </div>
                </div>
            </div>

            @if (ViewBag.ListaParticipantes == null)
            {
                <h5 class="text-center">No hay personas inscritas en ningún módulo.</h5>
            }
            else
            {
                <table class="table table-striped" id="tblCustomers">
                    <thead>
                        <tr>
                            <th scope="col">Unidad Académica</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Primer<br>Apellido</th>
                            <th scope="col">Segundo<br>Apellido</th>
                            <th scope="col">Correo Institucional</th>
                            <th class="text-center" scope="col" style="width: 10%">Horas<br>Matriculadas</th>
                            <th class="text-center" scope="col" style="width: 10%">Horas<br>Aprobadas</th>
                            <th class="text-center" scope="col" style="width:3.33%;"></th>
                            <th class="text-center" scope="col" style="width:3.33%;"></th>
                            <th class="text-center" scope="col" style="width:3.33%;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var participante in ViewBag.ListaParticipantes)
                        {
                            var gruposInscritos = participante.gruposInscritos;
                            var nombreCompleto = participante.nombre;
                            nombreCompleto += " " + participante.primerApellido;
                            if (participante.segundoApellido != "-")
                            {
                                nombreCompleto += " " + participante.segundoApellido;
                            }
                            <tr>
                                <td>@participante.unidadAcademica</td>
                                <td>@participante.nombre</td>
                                <td>@participante.primerApellido</td>
                                <td>@participante.segundoApellido</td>
                                <td>@participante.correo</td>
                                <td class="text-center">
                                    <span>@participante.horasMatriculadas</span>
                                </td>
                                <td class="text-center">
                                    <span>@participante.horasAprobadas</span>
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "VerDatosParticipante", "Participante", new { idParticipante = participante.idParticipante }, new { @class = "text-secondary bi bi-search" })
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "EditarParticipante", "Participante", new { idParticipante = participante.idParticipante }, new { @class = "text-secondary bi bi-pencil-square" })
                                </td>
                                <td>
                                    <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar" onclick="actualizarModalEliminar('@participante.idParticipante')">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar participante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea eliminar este participante?

                    @using (Html.BeginForm("EliminarParticipante", "Participante"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="modal-footer">
                            <input type="hidden" id="idParticipante" name="idParticipante">
                            <input type="submit" class="btn btn-danger" value="Aceptar" onclick="" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <script>
        window.location.href = '@Url.Action("CerrarSesion", "Usuario")';
    </script>
}


<script type="text/javascript">
    function actualizarModalEliminar(idParticipante) {
        document.getElementById("idParticipante").value = idParticipante;
    }
</script>